= javascript_include_tag "/assets/bootstrap-datepicker.js"
%link{:href => "/assets/datepicker.css", :rel => "stylesheet"}
.container
  .row
    .grid_12.marTop5.txt_center
      %h2 How to find us
      .dez-separator-outer
        .dez-separator.bg-primary.style-liner
      .row
        .grid_12
          .h4_lt 515 S Beach Blvd Unit K Anaheim, CA 92804 
          .h4_lt To make an appointment or ask a question, please give us a <u>text</u> or a call at (714) 443-1779</p>
          %figure.img_inner
            %iframe{:src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3314.485876212866!2d-117.99623118541041!3d33.82557838066827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd296a6ae993b5%3A0x9375a04f796739e5!2s515%20S%20Beach%20Blvd%20Unit%20K%2C%20Anaheim%2C%20CA%2092804!5e0!3m2!1sen!2sus!4v1573847421815!5m2!1sen!2sus&output=embed", :frameborder=> "0", :allowfullscreen => true}
