= javascript_include_tag "/assets/bootstrap-datepicker.js"
%link{:href => "/assets/datepicker.css", :rel => "stylesheet"}
.container
  .row
    .grid_7.marTop5
      %h2 How to find us
      .row
        .grid_4
          %figure.img_inner
            %iframe{:src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3314.01540396923!2d-118.38593618540995!3d33.8377133806648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b4af8465d0d7%3A0x560e9ddbd12890d0!2s410+Torrance+Blvd%2C+Redondo+Beach%2C+CA+90277!5e0!3m2!1sen!2sus!4v1526549281567", :frameborder=> "0", :allowfullscreen => true}
        .grid_2
          .h4.marTop5.bold  Our Hours
          %p 
            .bold Monday 
            9:00Am ~ 05:00PM
          %p 
            .bold Tuesday
            9:00AM ~ 05:00PM
          %p 
            .bold Wednesday
            9:00AM ~ 05:00PM
          %p 
            .bold Thursday
            9:00AM ~ 05:00PM
          %p 
            .bold Friday
            9:00AM ~ 05:00PM
          %p 
            .bold Saturday
            9:00AM ~ 12:00PM
    .grid_5.marTop5   
      %h2 Request an Appointment
      = render "form", online_booking: @online_booking
