= javascript_include_tag "/assets/bootstrap-datepicker.js"
%link{:href => "/assets/datepicker.css", :rel => "stylesheet"}
.container
  .row
    .grid_7.marTop5
      %h2 How to find us
      .row
        .grid_4
          %figure.img_inner
            %iframe{:src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.699189698242!2d-117.98863788445867!3d33.897400233320965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd2b1052e3b6d1%3A0x24f04de0e03c5b3d!2s14774+Beach+Blvd%2C+La+Mirada%2C+CA+90638!5e0!3m2!1sen!2sus!4v1510959821543", :frameborder=> "0", :allowfullscreen => true}
        .grid_2
          .h4.marTop5.bold  Our Hours
          %p 
            .bold Monday 
            9:00Am ~ 05:00PM
          %p 
            .bold Tuesday
            9:00AM ~ 05:00PM
          %p 
            .bold Wednesday
            9:00AM ~ 05:00PM
          %p 
            .bold Thursday
            9:00AM ~ 05:00PM
          %p 
            .bold Friday
            9:00AM ~ 05:00PM
          %p 
            .bold Saturday
            9:00AM ~ 12:00PM
    .grid_5.marTop5   
      %h2 Request an Appointment
      = render "form", online_booking: @online_booking
