.grid_100.has-text-centered
  .row
    .grid_12.marTop5.txt_center
      %h2.txt_center Add New Patient Resources
      .dez-separator-outer
        .dez-separator.bg-primary.style-liner
    = render "form", ptsrc: @ptsrc
