<div class="col-md-10 col-xs-12 col-sm-9">
  <div id="material-new">
    <div class="page-header">
      <p class="title">Add a New Article</p>
    </div>
    <div class="col-md-10">
      <%= render "form", article: @article%>
    </div>
  </div>
</div>

