<div class="container">
  <div class="row">
    <div class="grid_12 marTop5 txt_center">
      <h2 class="txt_center">Add New Article</h2>
      <div class="dez-separator-outer">
        <div class="dez-separator bg-primary style-liner"></div>
      </div>
    </div>
      <%= render "form", article: @article%>
  </div>
</div>

