/ Contents Start

.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4.has-text-justified


/ Grid 1
.dez-separator.style-liner 

.grid_subtitle
  %font.txt_dgreen 
    Worsening Symptoms (Healing Crisis)
.container.has-text-justified
  %h2.is-4


/Grid 2
.dez-separator.style-liner 
  
.container
  .grid-2
    .grid_subtitle
      %font.txt_dgreen Benefits 
    %h2.is-5.has-text-justified
  .grid-2
    .grid_subtitle
      %font.txt_dgreen Precautions 
    %h2.is-5.has-text-justified

