<div class="grid_3 text_center">
  <p class="sub_title">Oncology Support</p>
  <iframe width="320" height="240" src="https://www.youtube.com/embed/NYyN8Q5ew3E?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen>
  </iframe>
  <p class="sub_title">Steve U.</p>
</div>
<div class="grid_3 text_center">
  <p class="sub_title">Infertility & Women's health</p>
  <iframe width="320" height="240" src="https://www.youtube.com/embed/E-kTnsZx1ok?autoplay=0&showinfo=0&controls=0" ></iframe>
  <p class="sub_title">Carolyn B.</p>

</div>

<div class="grid_3 text_center">
  <p class="sub_title">Back Pain & Sciatica
  </p>
  <iframe width="320" height="240" src="https://www.youtube.com/embed/h7g5N3qiVeg?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen>
  </iframe>
  <p class="sub_title">Joshua S.</p>
</div>

<div class="grid_3 text_center">
  <p class="sub_title">Fall Injury
  </p>
  <iframe width="320" height="240" src="https://www.youtube.com/embed/uvNVP7tltPE?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen>
  </iframe>
  <p class="sub_title">Maria P.</p>
</div>

