<div class="grid_100 text_center">
  <h2 class="txt_center">Power of the <font class="txt_dgreen">Natural</font> Healing</h2>
  <div class="dez-separator-outer">
    <div class="dez-separator bg-primary style-liner"></div>
  </div>
  <h3 class="txt_center"><font class="bold">Your body is more capable of healing yourself than you know.</font></h3>
  <h4 class="txt_center">However, it is hidden or damaged due to your lifestyle, diet, environment and drug abuse.</br>
    We seek natural care and treatment for people.</br></br>Many have testified that proper diet, exercise and lifestyle can not only prevent a variety of diseases, but also treat diseases that can not be treated with conventional medicines. </h4>
  <h3 class="bold txt_center">We will help you to start a new life here!</font></h2>
<h4 class="txt_center">Our multi-modality holistic approach of using acupuncture, Chinese herbal medicine,</br>medical massage therapy, exercise, and nutritional counseling are used to </br>eliminate toxic from your body, strengthen immunesystem, balance hormons that you may be free from pain, frequent sickness, chronic symptoms and depressions. </h4>
</div>
<div id="service"></div>
<div class="grid_100 txt_center top-margin-60">
  <h2>Our <font class="txt_dgreen">Natural</font> Health Care Services</h2>
  <div class="dez-separator-outer">
    <div class="dez-separator bg-primary style-liner"></div>
  </div>
</div>

<div class="grid_100 text_center">
  <div class="grid_3 text_center">
    <div><img src="/assets/acu_s1.jpg" alt="" class="img8"></div>
    <p class="sub_title"><a href="#">Acupuncture Treatment</a></p>
    <div class="text_center"><p class="h4">We specialize in pain management(lower back, sciatica, neck, shoulder & etc.), fibromyalgia & chronic fatigue, headaches & migraines, neurological disorders, oncology supportive care, sports injuries, rehabilitation, post-surgery, digestive disorder, anxiety & depression, post stroke, womens' health, allergies & asthma, insomnia & sleep disorders and more.<p>
      <!--a href="#" class="btn-more bg5">more</a-->
    </div>
  </div>

  <div class="grid_3 text_center">
    <img src="/assets/herb_s2.jpg" alt="" class="img8">
    <p class="sub_title"><a href="#">Our Herb Medicine and Natural Vitamins</a></p>
    <div class="text_center"><p class="h4">Herbal tea and its extracts have kept the health of mankind for many years. Sleep disorders, depression, anxiety disorder, mild allergic symptoms and even flue can improve naturally by drinking a herbal medicine tea matching your body type every day.</p>
      <!--a href="#" class="btn-more bg5">more</a-->
    </div>
  </div>

  <div class="grid_3 txt_center">
    <img src="/assets/cupping_s1.jpg" alt="" class="img8">
    <p class="sub_title"><a href="#">Medical Message and Cupping Theraphy</a></p>
    <div class="text_center"><p class="h4">Cupping therapy is an ancient form of alternative medicine in which a therapist puts special cups on your skin for a few minutes to create suction. People get it for many purposes, including to help with pain, inflammation, blood flow, relaxation and well-being, and as a type of deep-tissue massage.</p>
      <!--a href="#" class="btn-more bg5">more</a-->
    </div>
  </div>

  <div class="grid_3 text_center">
    <img src="/assets/nutrition_s2.jpg" alt="" class="img8">
    <p class="sub_title txt_center"><a href="#">Nutrition Counseling</a></p>
    <div class="text_center"><p class="h4">Life & nature su--pports and educates <strong>diabetic or cancer</strong> patients through individual nutritional counseling. We definitely welcome who wants <strong>weight loss</strong>.
      </h4>
    </div>
  </div>
</div>


<div class="grid_100 txt_center top-margin-60" id="benefit">
  <a name="services"></a><h2>Benefits of <font class="txt_dgreen">Acupuncture</font></h2>
  <div class="dez-separator-outer">
    <div class="dez-separator bg-primary style-liner"></div>
  </div>
  <h4 class="txt_center">Because the goal of acupuncture is to promote and restore the balance of energy,</br> which flows throughout the body, the benefits of acupuncture can extend to a wide variety of conditions.</br></br></div>


<div class="grid_100 text_center">
  <div class="grid_3 text_center">
    <div class="border-1"><img src="/assets/dig_disorder1.png"></div>
    <p class="sub_title"><a href="#">Digestive Disorder</a></p>
    <div class="text_center"><p class="h4">Nausea, Vomiting, Irritable Bowel Syndrome, Frequent Indigestion,Diarrhea, GERD, Constipation...<p>
      <!--a href="#" class="btn-more bg5">more</a-->
    </div>
  </div>

  <div class="grid_3 text_center">
    <img src="/assets/headache2.png">
    <p class="sub_title"><a href="#">Neurological Disorders</a></p>
    <div class="text_center"><p class="h4">Post Stroke, Fibromyalgia, Stress, Anxiety, Depression, Nerve paralysis, Headaches, Migraines, Insomnia...</p>
      <!--a href="#" class="btn-more bg5">more</a-->
    </div>
  </div>

  <div class="grid_3 txt_center">
    <img src="/assets/womens_health.jpg">
    <p class="sub_title"><a href="#">Women's Health</a></p>
    <div class="text_center"><p class="h4">PMS, Menopause, Infertility, Postpartum, Ovarian and Uterine Fibrosis...</p>
      <!--a href="#" class="btn-more bg5">more</a-->
    </div>
  </div>

  <div class="grid_3 text_center">
    <img src="/assets/mens_health1.jpg">
    <p class="sub_title txt_center"><a href="#">Men's Health</a></p>
    <div class="text_center"><p class="h4">Prostate, Infertility, Impotence...</p>
    </div>
  </div>

  <div class="grid_100 text_center">
    <div class="grid_3 text_center">
      <div class="border-1"><img src="/assets/flue1.jpg"></div>
      <p class="sub_title"><a href="#">Respiratory Disease</a></p>
      <div class="text_center"><p class="h4">Common Cold, Allergies, Asthma, Bronchitis, Sinusitis...<p>
        <!--a href="#" class="btn-more bg5">more</a-->
      </div>
    </div>

    <div class="grid_3 text_center">
      <img src="/assets/backpain1.jpg">
      <p class="sub_title"><a href="#">Musculoskeletal Disorders</a></p>
      <div class="text_center"><p class="h4">Arthritis, Back pain, Leg pain, Muscle Cramping, Muscle Pain, Muscle Weakness, Foot Pain, Neck Pain, Sciatica, Stiff Shoulders and Neck, Tennis Elbow, Carpal Tunnel, TMJ, Rheumatism, Muscle Sprain...</p>
        <!--a href="#" class="btn-more bg5">more</a-->
      </div>
    </div>

    <div class="grid_3 txt_center">
      <img src="/assets/systemic_disease2.jpg">
      <p class="sub_title"><a href="#">Systemic Diseases</a></p>
      <div class="text_center"><p class="h4">Diabetes Mellitus, Chronic Fatigue Syndrome, Hypothyroidism, Hypertension, Metabolic syndrome...</p> 
        <!--a href="#" class="btn-more bg5">more</a-->
      </div>
    </div>

    <div class="grid_3 text_center">
      <img src="/assets/why_happy.jpg">
      <p class="sub_title txt_center"><a href="#">For Your wellbeings</a></p>
      <div class="text_center"><p class="h4">Strengthen immunity, Increase or Decrease Appitite, Balance the Body, Increase the Energy, Prevent Disease... </p>
      </div>


    </div>
  </div>



  <!-- <a href="#" class="more_btn bg5">more</a> -->
  <div class="grid_100 bg6 marTop5">
    <div class="wrapper">
      <div class="container">
        <h2 class="marTop5 txt_center">WE ACCEPT MOST MAJOR INSURANCE PLANS</h2>
        <h4 class="txt_center marTop1">If you have any questions about insurance or price, please give us <font class="bold">a text</font> or a call at <font class="bold">(714) 443-1779</font></br>or send us an email at  <font class="bold">info@life-and-nature.com</font>.</h4>

        <div class="box-4-no-img marTop1"> 
            <div class="col2 marBoth1 text_center"> 
              <img src="/assets/aetna.png" alt="" class="img_ins no_resize">
            </div>

            <div class="col2 marBoth1 text_center"> 
              <img src="/assets/anthem.png" alt="" class="img_ins no_resize">
            </div>
            <div class="col2 marBoth1 text_center"> 
              <img src="/assets/bs.png" alt="" class="img_ins no_resize">
            </div>

            <!--div class="col2 marBoth1"> 
              <img src="/assets/cigna.png" alt="" class="img7 no_resize">
            </div>
          </div-->

            <div class="col2 marBoth1"> 
              <img src="/assets/humana.png" alt="" class="img_ins no_resize">
            </div>

          <div class="row">
            <div class="col2 marBoth1 text_center"> 
              <img src="/assets/healthnet.jpg" alt="" class="img_ins no_resize">
            </div>
            <div class="col2 marBoth1 text_center"> 
              <img src="/assets/kaiser.jpg" alt="" class="img_ins no_resize">
            </div>

            <div class="col2 marBoth1 text_center"> 
              <img src="/assets/uhc.jpg" alt="" class="img_ins no_resize">
            </div>

            <div class="col2 marBoth1 text_center"> 
              <!--img src="/assets/uhc.jpg" alt="" class="img7 no_resize"-->
            </div>

          </div>
    </div>
  </div>
</div>

