<div class="container">
	<div class="row">
		<div class="grid_12">
      <h2 class="txt_center">Power of the <font class="txt_dgreen">Natural Healing</font></h2>
			<div class="wrapper">
				<img src="/assets/page2_pic1.jpg" alt="" class="img4">
        <h4>We believed that your body has greater capibility to heal itself than you know. But it is hidden or damaged by your life style, diet, environments and abuse of drugs.</h4>
        <p>Our multi-modality holistic approach of using acupuncture, Chinese herbal medicine, medical massage therapy, exercise, and nutritional counseling are used to eliminate toxic from your body, strengthen immunesystem, balance hormoms that you may be free from pain, frequent sickness, chronic symptoms and depressions. </p>
			</div>

			<!--div class="wrapper marTop2">
				<img src="/assets/page2_pic2.jpg" alt="" class="img4">

				<h3><a href="#" class="link2">Masagni dolores eoquie voluptmsequi nesciu iqui vertyader nierta niuyserdas</a></h3>

				<p>Sitamet consectet, adipisci uumquam eius modi tempora incidunte, ut labore et dolore magnam. Baliquamaerat voluptatem. ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Asruis autem vel eum iure feruyas reprehenderit, qui a voluptate nertyaesra.</p>
			</div-->
		</div>
		<div class="grid_12 txt_center">
      <h2>Total <font class="txt_dgreen">Natural Health Care</font> Services</h2>
    </div>

		<div class="grid_12">
			<div class="wrapper">
				<img src="/assets/acu_in_womans_back.jpg" alt="" class="img5">
        <h4 class="sub_title txt_center"><a href="#" class="link2"><b>Acupuncture Treatment</b></a></h3>
        <p>We specialize in pain management (lower back,sciatica, neck, shoulder & etc.),  Fibromyalgia & Chronic Fatigue, Headaches & Migraines, Neurological Disorders, Sports Injuries, Rehabilitation Post-Surgery, Digestive Disorder, Anxiety & Depression, Post Stroke, Womens' Health, Allergies & Asthma, Insomnia & Sleep Disorders and MORE.</p>
			</div>

		<div class="grid_8">
			<div class="wrapper">
				<img src="/assets/page2_pic3.jpg" alt="" class="img5">
				<h3><a href="#" class="link2">Our Herb Tea & Herb Extract</a></h3>
        <p>Herbal tea and its extracts have kept the health of mankind for many years. Sleep disorders, depression, anxiety disorder, mild allergic symptoms and even flue can improve naturally by drinking a herbal medicine tea matching your body type every day.</p>
			</div>
			<div class="wrapper marTop2">
				<img src="/assets/page2_pic4.jpg" alt="" class="img5">
				<h3><a href="#" class="link2">Aenean fringilla</a></h3>
				<p>Suspendisse cursus mi sed libero gravi ut libero faucibus, ultrices turpis in; fringilla massa vivamus.</p>
			</div>
			<div class="wrapper marTop2">
				<img src="/assets/page2_pic5.jpg" alt="" class="img5">
				<h3><a href="#" class="link2">leo porta, ornare est</a></h3>
				<p>Maecenas felis ipsum, lobortis id dian et, sagittis iaculis sem? Pellentesque porttitor mattis aliquam.</p>
			</div>

			<!-- <a href="#" class="more_btn bg5">more</a> -->
		</div>
	</div>
</div>

<div class="box-2">
	<div class="container">
		<h2 class="no_line2">The scope of practice</h2>
		<div class="row">
			<div class="grid_4">
				<div class="wrapper">
					<img src="/assets/page2_icon1.png" alt="" class="img6 no_resize">
					<div class="box">
						<p class="txt6">nesciu iquequam voluptmse mioas feStuASE eui dolorem </p>
						<p>Nunc pellentesque a tortor at malesuada. Phasellus est velit, adipiscing a placerat in, ultricies eu lacus. Ut non cursus ligula. Curabitur mattis ipsum eu arcu volutpat accumsan, sed dign.</p>
						<a href="#" class="more_btn bg5">more</a>
					</div>
				</div>
			</div>

			<div class="grid_4">
				<div class="wrapper">
					<img src="/assets/page2_icon2.png" alt="" class="img6 no_resize">
					<div class="box">
						<p class="txt6">Sed convallis ligula ante, Nunc lis semper nisi; ac </p>
						<p>Integer adipiscing neque ut justo aliquam feugiat. Praesent quis volutpat neque; nec tristique diam, eget egestas neque. Pellentesque orci velit, auctor et elementum purus, posuere.</p>
						<a href="#" class="more_btn bg5">more</a>
					</div>
				</div>
			</div>
			<div class="grid_4">
				<div class="wrapper">
					<img src="/assets/page2_icon3.png" alt="" class="img6 no_resize">
					<div class="box">
						<p class="txt6">semper nisi ac adipiscing nulla Interdum et males</p>
						<p>Duis et tristique diam, eget egestas neque. Pellentesque orci velit, auctor et cursus eu, elementum vitae orci. Proin felis purus, posuere eu fringilla vitae, euismod gravida quam. Curabitur et.</p>
						<a href="#" class="more_btn bg5">more</a>
					</div>
				</div>
			</div>

			<div class="wrapper">
				<div class="indent1"></div>
			</div>
		</div>
	</div>
</div>
