<div class="header-box">
  <div class="container">
    <div class="col1">
      <img src="/assets/page1_pic1.jpg" alt="" class="img1">
      <div class="header_txt_section">
        <p class="txt1">Holistic<br>Medicine</p>
        <p class="txt3">Your Spirit, Soul and Body Be Preserved.<br>
        <p class="txt2">
        digestion disorder, irritable bowel syndrome, fibromyalgia....
        </p>
        <!--p class="txt2"><a href="#" class="link1">read more</a></p-->
      </div>
    </div>

    <div class="col1">
      <div class="header_txt_section bg2">
        <p class="txt1">Acupuncture</p>
        <p class="txt3">Open the Life Pathway in Your Body.</p>
        <p class="txt2">pain management, chronic fatigue, neurological disorders, post stroke...</p>
        <!--p class="txt2"><a href="#" class="link1">read more</a></p-->
 
      </div>
      <img src="/assets/page1_pic2.jpg" alt="" class="img1">
    </div>

    <div class="col1">
      <img src="/assets/page1_pic3.jpg" alt="" class="img1">
      <div class="header_txt_section bg3">
        <p class="txt1">Nutritional<br>Counsel</p>
        <p class="txt3">Let Food Be Thy Medicine.</p>
        <p class="txt2">oncology nutrition, lose weight, chronic fatigue, migraine, skin disease...</p>
        <!--p class="txt2"><a href="#" class="link1">read more</a></p-->
      </div>
    </div>

    <div class="col1">
      <div class="header_txt_section bg4">
        <p class="txt1">Herbal<br>Medicine</p>
        <p class="txt3">You're Just Part of the Precious Nature.</p>
        <p class="txt2">insomnia, anxiety, depression, gynecology, detox...</p>
        <!--p class="txt2"><a href="#" class="link1">read more</a></p-->
     </div>
      <img src="/assets/page1_pic4.jpg" alt="" class="img1">
    </div>

  </div>
</div>

<!--=======content================================-->


<div class="container">
  <div class="hline2">
    <p class="txt4">welcome</p>
    <h3>Life & Nature pursues natural care and healing of the human body. Many people have testified that the right diet, exercise and lifestyle not only prevent a variety of diseases, but also cure diseases that can not be treated with conventional medicines. </h3>
  </div>

  <div class="row">
    <div class="grid_5">
      <h2>What is Acupuncture?</h2>
      <h3>6 Ways It Can Improve Your Health!</h3>
      <p>Acupuncture is a holistic health technique that stems from Traditional Chinese Medicine practices in which trained practitioners stimulate specific points on the body by inserting thin needles into the skin.</p>

      <h3>The U.S Department of Health and Human Services states that,</h3>
      <p>“… promising results have emerged showing efficacy of acupuncture in adult postoperative and chemotherapy nausea and vomiting, and in postoperative dental pain. There are other situations such as addiction, stroke rehabilitation, headache, menstrual cramps, tennis elbow, fibromyalgia, myofascial pain, osteoarthritis, low back pain, carpal tunnel syndrome, and asthma, in which acupuncture may be useful as an adjunct treatment.”</p>
      <a href="https://draxe.com/what-is-acupuncture/"  target="_blank" class="more_btn">more</a>
    </div>

    <div class="grid_6 preffix_1">
      <h2>latest news</h2>
      <div class="row">
        <div class="grid_3">
          <p class="txt7">11</p>
          <p class="txt8">SEPTEMBER</p>
          <p class="txt6">Alternatives to Drugs for Treating Pain. - The New York Times</p>
          <p>Acute pain is nature’s warning signal that something is wrong that should be attended to. Chronic pain, however, is no longer a useful warning signal, yet it can lead to perpetual suffering if people remain afraid of it, the doctor said.</p>
          <a href="https://www.nytimes.com/2017/09/11/well/alternatives-to-drugs-for-treating-pain.html?rref=collection%2Ftimestopic%2FAcupuncture&action=click&contentCollection=health&region=stream&module=stream_unit&version=latest&contentPlacement=1&pgtype=collection" class="more_btn bg5" target = "_blank">more</a>
        </div>

        <div class="grid_3">
          <p class="txt7">21</p>
          <p class="txt8">November</p>
          <p class="txt6">Alternative Pain Therapies Could Aid Efforts to Quell Opioid Crisis, but Barriers to Treatment Remain - US News</p>
          <p>As opioid overdoses surge, health professionals look to non-pharmacological treatments like chiropractic care and acupuncture. Acupuncture could be an effective alternative to prescription opioids for managing pain, evidence shows.</p>
          <a href="https://www.usnews.com/news/healthcare-of-tomorrow/articles/2017-11-21/alternative-pain-therapies-could-aid-efforts-to-quell-opioid-crisis-but-barriers-to-treatment-remain" class="more_btn bg5">more</a>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="box-2">
  <div class="container">
    <div class="row">
      <div class="grid_3">
        <h2 class="no_line">useful links</h2>
        <ul class="listWithMarker">
          <li><a href="#">sit avertas dero</a></li>
          <li><a href="#">taserto yaeala miaseay</a></li>
          <li><a href="#">mertae neory kastreas</a></li>
          <li><a href="#">verode fase laisuase</a></li>
          <li><a href="#">avertelero</a></li>
          <li><a href="#">taserto yndolase</a></li>
          <li><a href="#">miaser lasras lerty kasu</a></li>
          <li><a href="#">kauisyase mertase</a></li>
          <li><a href="#">desertae dertas</a></li>
        </ul>
        <a href="#" class="more_btn bg5">more</a>
      </div>

      <div class="grid_9">
        <div class="box-3">
          <h2 class="v2 txt_cntr">fundamental principles</h2>

          <div class="hline2 v2">
            <div class="col2 marRight1">
              <img src="/assets/page1_pic5.jpg" alt="" class="img2">
              <p class="lh24"><span class="color3">Beciegast nveriti vitaesaert viasead</span><br>asety kertya aset aplicaboserde miuas nerafae kertyerauas vitaesa ertyatya nemo eniptaiades.</p>
            </div>
            <div class="col2 marRight1">
              <img src="/assets/page1_pic6.jpg" alt="" class="img2">
              <p class="lh24"><span class="color3">Nertyase riti masertas ltyakuhas</span><br>asety kertya aset aplicaboserde miuas nerafae kertyerauas vitaesa ertyatya nemo eniptaiades.</p>
            </div>
            <div class="col2">
              <img src="/assets/page1_pic7.jpg" alt="" class="img2">
              <p class="lh24"><span class="color3">Mersertas lertyakuhasfuental nytras</span><br>asety kertya aset aplicaboserde miuas nerafae kertyerauas vitaesa ertyatya nemo eniptaiades.</p>
            </div>

            <div class="clear"></div>
          </div>
          <p class="txt9"><a href="#">read more </a></p>


        </div>
      </div>

    </div>
  </div>
</div>

<div class="box-4">
  <div class="container">
    <img src="/assets/icon1.png" alt="" class="img3 no_resize">
    <p class="txt10">Clinic Location: 1175 E Lincoln Ave, Ste 104, Anaheim CA 92805</p>
    <p class="txt10">Tel: 714-443-1779</p>
    <img src="/assets/icon2.png" alt="" class="img3 no_resize">
    <p class="txt11"><a href="#" class="link2">E-mail: totalnaturalbodycare@gmail.com</a></p>
  </div>
</div>





