<div class="container">
  <div class="row">
    <div class="grid_12">
      <h2 class="txt_center">Power of the <font class="txt_dgreen">Natural</font> Healing</h2>
      <div class="wrapper">
        <h3 class="txt_center"><font class="bold">Your body is more capable of healing yourself than you know.</font></h3>
        <h4 class="txt_center">However, it is hidden or damaged due to your lifestyle, diet, environment and drug abuse.</br>
          We seek natural care and treatment for people.</br></br>Many have testified that proper diet, exercise and lifestyle can not only prevent a variety of diseases, but also treat diseases that can not be treated with conventional medicines. </h4>
        <h3 class="bold txt_center">We will help you to start a new life here!</font></h2>
      <h4 class="txt_center">Our multi-modality holistic approach of using acupuncture, Chinese herbal medicine,</br>medical massage therapy, exercise, and nutritional counseling are used to </br>eliminate toxic from your body, strengthen immunesystem, balance hormons that you may be free from pain, frequent sickness, chronic symptoms and depressions. </h4>
      </div>

      <!--div class="wrapper marTop2">
        <img src="/assets/page2_pic2.jpg" alt="" class="img4">
        <h3><a href="#" class="link2">Masagni dolores eoquie voluptmsequi nesciu iqui vertyader nierta niuyserdas</a></h3>
        <p>Sitamet consectet, adipisci uumquam eius modi tempora incidunte, ut labore et dolore magnam. Baliquamaerat voluptatem. ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Asruis autem vel eum iure feruyas reprehenderit, qui a voluptate nertyaesra.</p>
        </div-->
  </div>
  <div class="grid_12 txt_center top-margin-60">
    <a name="services"></a><h2>Total <font class="txt_dgreen">Natural</font> Health Care Services</h2>
  </div>

  <div class="grid_12">
    <div class="wrapper">
      <img src="/assets/acu_in_womans_back.jpg" alt="" class="img5">
      <h4 class="sub_title txt_center"><b>Acupuncture Treatment</b></h4>
      <h4>We specialize in pain management(lower back, sciatica, neck, shoulder & etc.), fibromyalgia & chronic fatigue, headaches & migraines, neurological disorders, oncology supportive care, sports injuries, rehabilitation, post-surgery, digestive disorder, anxiety & depression, post stroke, womens' health, allergies & asthma, insomnia & sleep disorders and more.</h4>
      <!--a href="#" class="btn-more bg5">more</a-->
    </div>
  </div>

  <div class="grid_12">
    <div class="wrapper">
      <img src="/assets/Peppermint_Leaf_Tea.jpg" alt="" class="img5">
      <h4 class="sub_title txt_center">Our Herb Medicine & Natural Vitamins</h4>
      <h4>Herbal tea and its extracts have kept the health of mankind for many years. Sleep disorders, depression, anxiety disorder, mild allergic symptoms and even flue can improve naturally by drinking a herbal medicine tea matching your body type every day.</h4>
      <!--a href="#" class="btn-more bg5">more</a-->
    </div>
    <div class="wrapper marTop2">
      <img src="/assets/drycupping.jpeg" alt="" class="img5">
      <h4 class="sub_title txt_center">Medical Message & Cupping Theraphy</h4>
      <h4>Cupping therapy is an ancient form of alternative medicine in which a therapist puts special cups on your skin for a few minutes to create suction. People get it for many purposes, including to help with pain, inflammation, blood flow, relaxation and well-being, and as a type of deep-tissue massage.</h4>
      <!--a href="#" class="btn-more bg5">more</a-->
    </div>
    <div class="wrapper marTop2">
      <img src="/assets/nutrition8.jpg" alt="" class="img5">
      <h4 class="sub_title txt_center">Nutrition Counseling</h3>
        <h4 class="sub_title">You are what you eat!</h4></br>
        <h4>If you do not know what to eat for your health, we are here to counsel you. You can not tell that the food good for others is good for you. Because we all have different body types, constitutions, shapes, and in condition.</br></br>
         The food may not be good for you now, which had been always good for you. Hippocrates said that if it is a disease that cannot be cured by food, it can not be cured by medicine. Eating the right food for you is better than the hundreds medicines.</br></br>

          Life & nature supports and educates <strong>diabetics or cancer</strong> patients through individual nutritional counseling. We definitely welcome who wants <strong>weight loss</strong>.
        </h4>
    </div>

    <!-- <a href="#" class="more_btn bg5">more</a> -->
  </div>
</div>
</div>

<div class="grid-12 bg6 marTop5">
  <div class="wrapper">
    <div class="container">
      <h2 class="marTop5 txt_center">WE ACCEPT MOST MAJOR INSURANCE PLANS(PPO)</h2>
      <h4 class="txt_center marTop1">If you have any questions about insurance, please call or text us to <font class="bold">(714) 443-1779</font> or email us to <font class="bold">info@totalnaturalbodycare.com</font>.</h4>

      <div class="box-4-no-img marTop1"> 
        <div class="row">
          <div class="col2 marBoth1"> 
            <img src="/assets/aetna.png" alt="" class="img7 no_resize">
          </div>

          <div class="col2 marBoth1"> 
            <img src="/assets/anthem.png" alt="" class="img7 no_resize">
          </div>
          <div class="col2 marBoth1"> 
            <img src="/assets/bs.png" alt="" class="img7 no_resize">
          </div>

          <div class="col2 marBoth1"> 
            <img src="/assets/cigna.png" alt="" class="img7 no_resize">
          </div>
        </div>

        <div class="row">
          <div class="col2 marBoth1"> 
            <img src="/assets/humana.png" alt="" class="img7 no_resize">
          </div>

          <div class="col2 marBoth1"> 
            <img src="/assets/healthnet.jpg" alt="" class="img7 no_resize">
          </div>
          <div class="col2 marBoth1"> 
            <img src="/assets/kaiser.jpg" alt="" class="img7 no_resize">
          </div>

          <div class="col2 marBoth1"> 
            <img src="/assets/uhc.jpg" alt="" class="img7 no_resize">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


