<div class="container">
  <div class="row">
    <div class="grid_12 marTop5 txt_center">
      <h2 class="txt_center"><font class="txt_green">Soo Jin Cho, </font> L.Ac</h2>
      <div class="dez-separator-outer">
        <div class="dez-separator bg-primary style-liner"></div>
      </div>
    </div>
    <div class="grid_12">
      <div class="wrapper">
        <img src="/assets/mepic2.jpg" alt="" class="img9">
        <h4>
          What occurs within human body cannot be explained solely by specific chemical reactions.</br></br>
          Where does life come from? How do men grow? Why does he get old?  What causes him to be sick or abnormal? What brings him to death? </br></br>
          Conventional medicine is doing its best to explain and treat these mysterious phenomenons but despite our great achievements in biomedical research, the mysteries of the human body can not be completely described nor treated through statistical data, drugs, or surgery alone.  </br></br>

          Ten years ago I was forced to take a temporary leave of absence from work from the result of an unexplainable pain that tortured my entire body day and night. I visited countless doctors but every examination verified that everything was normal. I tried every possible pain medication until it got to a point that my body failed to respond to treatment. This unknown illness left me convinced that the search for a cure would be all in vain and that death was the only solution to free myself from my deep depression.  No doctor could come to a clear conclusion as to why my body was not responding to medication until I met a doctor who was specialized in Oriental Medicine. </br></br>
        <img src="/assets/water_desert.jpg" alt="" class="img10">
        Although I am an Asian female, I was never interested in Oriental medicine. From an early age I loved science and math, and in my adolescence I specialized in computer engineering so it was  natural for me to incline towards Western medicine. Growing up, I preferred to take pills or injections over my grandmother’s home remedies and saw no need to be poked with tiny needles. It wasn’t until I became desperate to solve my difficult problem that compelled me to give oriental medicine another chance. I remember thinking about how my grandmother would take me to see her oriental medical doctor. They often poked my finger when I had indigestion and served me a strong, bitter, black beverage for my cough. As time passed, my symptoms grew more sever. My body was always extremely cold, every muscle was flaccid, I had constant diarrhea, and was paralyzed by bed with pain 24/7.</br></br>
        My reason for becoming an acupuncturist at first was purely personal, to uncover the cause of my pain and heal myself. As I progressed I  realized that as dark as my experience may be, it is not unique by any means. Many Americans  are labeled with diagnoses such as fibromyalgia, autoimmune disease, neurological disorders when the cause of the disease is unknown. </br></br>

        <img src="/assets/sprout1.jpg" alt="" class="img9">
        Now that I have become an acupuncturists I always encourage my patients not to be satisfied with any vague conclusions and instead, to observe and learn their body’s patterns by experience. Ultimately, the patient’s observations and personal knowledge of their body contribute to the success of their recovery.
        
        </br></br> In fact, every human being possesses healing power. The job of the acupuncturists is to awaken or stimulate that healing power of the life within the body. Those tiny needles inserted into your body break the barriers and open the blockage so that your blood and energy can flow freely to reach every cell generated in the nerves, organs, bones and even the brain. This is the principle of the life. We may not see electricity current confined it in the wire but the manifestation of light, heat, sound, and movement proves that the current of the electricity is flowing. </br></br>
          The life knows how to care for its own. Do not forget, we should pay attention to the life flowing in our body and trust its ability to heal. Although there is life in our body, its quality is dependant upon our daily choices. We can hinder or limit the flow of life by abusing chemical substances, foods, or inflicting unnecessarily surgery. </br></br>

          Life&Nature will help you to hear what your body speaks and needs. As the water flows, the dessert is becoming cultivate land, trees and flows glow. </br></br>


        </h4>
      </div>
    </div>

    <!-- <a href="#" class="more_btn bg5">more</a> -->
  </div>
</div>

