<div class="container">
  <div class="row">
    <div class="grid_12 marTop5">
      <h2 class="txt_center">Total <font class="txt_dgreen">Natural</font> Health Care Services</h2>
    </div>

    <div class="grid_12">
      <div class="wrapper">
        <img src="/assets/acu_in_womans_back.jpg" alt="" class="img5">
        <h4 class="sub_title txt_center"><b>Acupuncture Treatment</b></h4>
        <h4>We specialize in pain management(lower back, sciatica, neck, shoulder & etc.), fibromyalgia & chronic fatigue, headaches & migraines, neurological disorders, oncology supportive care, sports injuries, rehabilitation, post-surgery, digestive disorder, anxiety & depression, post stroke, womens' health, allergies & asthma, insomnia & sleep disorders and more.</h4>
        <a href="#" class="more_btn bg5">more</a>
      </div>
    </div>

    <div class="grid_12">
      <div class="wrapper">
        <img src="/assets/Peppermint_Leaf_Tea.jpg" alt="" class="img5">
        <h4 class="sub_title txt_center">Our Herb Medicine & Natural Vitamins</h4>
        <h4>Herbal tea and its extracts have kept the health of mankind for many years. Sleep disorders, depression, anxiety disorder, mild allergic symptoms and even flue can improve naturally by drinking a herbal medicine tea matching your body type every day.</h4>
        <a href="#" class="more_btn bg5">more</a>
      </div>
      <div class="wrapper marTop2">
        <img src="/assets/woman_cupping.jpg" alt="" class="img5">
        <h4 class="sub_title txt_center">Medical Message & Cupping Theraphy</h4>
        <h4>Cupping therapy is an ancient form of alternative medicine in which a therapist puts special cups on your skin for a few minutes to create suction. People get it for many purposes, including to help with pain, inflammation, blood flow, relaxation and well-being, and as a type of deep-tissue massage.</h4>
        <a href="#" class="more_btn bg5">more</a>
      </div>
      <div class="wrapper marTop2">
        <img src="/assets/nutrition_counseling.jpg" alt="" class="img5">
        <h4 class="sub_title txt_center">Nutrition Counseling</h3>
        <h4>You are what you eat.</br>
          If you do not know what to eat for your health, we are here to counsel you. It is not good for you to say good food to others. Because we all have different body types, constitutions, and shapes. The food may not be good for you now, which had been always good for you. Hippocrates said that if it is a disease that cannot be cured by food, it can not be cured by medicine. Eating the right food for you is better than the hundreds medicines.
        </h4>
      </div>

      <!-- <a href="#" class="more_btn bg5">more</a> -->
    </div>
  </div>
</div>

