@import url(https://pro.fontawesome.com/releases/v5.14.0/css/all.css)

$grid-breakpoints: (
xs: 0,
sm: 600px,
md: 800px,
lg: 1000px,
xl: 1280px
);

[class*="grid-"] {
  float: left;
  min-height: 1px;
}

[class*="grid_"] {
  float: center;
  min-height: 1px;
}

div {
  margin: auto;
  display: block;
}


h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: color .2s ease;
}

a, strong {
  color: #191919;
}


a.link2:hover {
  color: #62d03a;
}

a:hover, a:focus {
  text-decoration: none;
}

.img3 {
  margin-top: 20px;
  margin-bottom: 20px;
}


ol, ul {
  list-style: none;
}

.txt_dgreen {
  color: #269300;
}

h2 {
  color: #000;
  margin-top: 0px;
}


/************Footer************/
.txt_contact_info{
  margin-top: 15px;
  color: #fff;
}

footer{ 
  display: block; 
  width: 100%;
}

footer.v2{border-top: 1px solid #c9c9c9;}

.footer_priv{
  padding: 20px 0 30px;
}

p.txt_priv{
  color:#4d4d4d;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
  letter-spacing: 0px;
  text-transform: uppercase;
  min-width: 230px;
}

.list_menu_footer li a:hover,.list_menu_footer li a:visited, .list_menu_footer li.current a {
  color: #62d03a;
  text-decoration: none;
}
.list_menu_footer li a {
  color: #585858;
  text-transform: uppercase;
}

.list_menu_footer{
  float: right;
  margin-top: 19px;
  margin-right: 20px;
}
.list_menu_footer li{
  float: left;
  margin-left: 59px;
}

.list_menu_footer li a{color: #585858; text-transform: uppercase;}
.list_menu_footer li a:hover, .list_menu_footer li.current a {
  color: #62d03a;
}

.txt_priv .fw400{text-transform: uppercase;}

.bg-subtitle
{
  align-items: center;
  width: 90%;
  border: 0px solid #ddd;
  border-radius: 1rem;
  outline: 1px solid #dfdfdf!important;
  outline-offset: -1px;
  padding: 0;
  margin: 6;
}

.title {
  color: #000;
  line-height: 1.5;
  font-weight: 600;
}

.title.is-1{
  vertical-align: middle;
  font-weight: 580;
  font-size: 3.5rem;
  line-height: 1.125;
  color: hsl(0deg,0%,4%);
}

.is-0 {
  vertical-align: top;
  font-weight: 500;
  font-size: 3.57rem;
  color: hsl(0deg,0%,4%);
  line-height: 1.125;
}

.is-2 {
  font-size: 2.8rem;
  font-weight: 400;
}

.is-3 {
  font-size: 2rem;
  font-weight: 300;
}

.is-4 {
  font-size: 1.4rem;
}

.is-5 {
  font-size: 1rem;
}


#pages-search-search-content .banner .container .title {
  color: #191919;
  font-size: 3.5714285714rem;
}
.title.thin {
  font-weight: 200;
  font-size: 2.8rem;
  font-style: italic;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.image_container{
  position: relative;
  text-align: center;
  height: 460px;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image:url('/assets/img_main.jpg');
}

.is-marginless, .two-column-layout>.container>.columns {
  margin: 0!important;
}

.brand_intro {
  height: 100%;
  padding-top: 6rem;
  font-color: #000;
}

.brand_intro p{
  font-size: 1.7142857143rem;
  text-shadow: 1px 1px 6px #fff;
}

.has-text-centered {
  text-align: center!important;
}

.has-text-right{
  text-align: right!important;
}




.subtitle, .title {
  word-break: break-word;
}

.subtitle {
  font-weight: 600;
  font-size: 2rem;
  line-height: 5rem;
}

.i_overlay
{
  border: 1px solid #ddd;
  border-radius: 0.2rem;
  outline: 6px solid #dfdfdf!important;
  background-color: #dfdfdf;
  outline-offset: -1px;
  padding: 4;
  margin-bottom: 14px;
}

.title-box {
  background: #fff;
  padding-bottom: 20px;
  margin-top: 0px;
  padding-top: 0px;
  margin-right: 1rem;
  padding-right: 1rem;
}

.pagemenu {
  display: flex;
  flex-wrap: wrap;
}

.pagemenu-box {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 8px;
  padding-bottom: 4px;
  border-top: 0px solid #ddd;
  border-bottom: 0px solid #ddd;
  background: #ededed;
  padding-left: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-right: 1rem;
}
.pagemenu-item + .pagemenu-item {
  padding-left: 2rem;
}

.is-border-bottom {
  border-bottom: 1px solid #c9c9c9;
}

.is-border-top {
  border-top: 1px solid #c9c9c9;
}

.pagemenu-item + .pagemenu-item::before {
  float: left;
  padding-right: 1.2rem;
  color: #6c757d;
}

.pagemenu-item.active {
  color: #6c757d;
}




.grid_100 {
  background: #fff;
  width: 100%;
  margin-left: 0px;
  padding-left: 0rem;
  padding-right: 0rem;
}

.grid_subtitle {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 4rem;
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 14px;
  padding-left: 0rem;
  padding-right: 0rem;
  width: 100%;
  border-bottom: 1px solid #c9c9c9;
}

.is-margin-top-2 {
  margin-top: 2rem;
}

.grid_90{
  background: #fff;
  width: 90%;
}

.grid_80{
  background: #fff;
  float: ;
  width: 86%;
  padding: 20px;
}

.grid-4{
  width: 24%;
  padding: 0.3rem;
  margin: 0.3rem;
}

.grid-3{
  width: 30%;
  padding: 1rem;
  margin: 1rem;
}


.grid-2{
  width: 48%;
  padding: 0.5rem;
  margin: 0.5rem;
  padding-top: 0px;
  margin-top: 0px;
}


.grid-75
{
  width: 73%;
  padding: 0.5rem;
  margin: 0.5rem;
  padding-top: 0px;
  margin-top: 0px;

}
.dez-separator[class*="style-"]:before {
  left: auto;
  right: 30px;
}

.dez-separator-outer {
  overflow: hidden;
}

.dez-separator.style-liner {
  width: 100%;
  height: 1px;
  border-top: 1px solid #c9c9c9;
}

.is-border-1 {
  border: 1px solid #c9c9c9;
}

.is-border-left {
  border-left: 1px solid #c9c9c9;
}

.is-border-right{
  border-right: 1px solid #c9c9c9;
}

.is-border-3{
  border: 3px solid #ddd;
  border-radius: 0.8rem;
}

.is-border-5{
  border: 5px solid #ddd;
  border-radius: 0.8rem;
}






.dez-separator.style-liner.double {
  width: 100%;
  height: 3px;
  border-top: 3px solid #ccc;
}

.dez-separator {
  display: inline-block;
  height: 1px;
  margin-bottom: 0px;
  margin-top: 0px;
  position: relative;
}

.bg-primary {
  background-color: #42b027!important;
}

.is-hmargin-2 {
  margin-left: 2em;
  margin-right: 2em;
}
.is-hmargin-8 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.has-text-justified {
  text-align: justify!important;
  text-justify: inter-word;
}
.row {
}
.img8 {
  margin-bottom: 10px;
  float: center;
  width: auto;
  height: auto;
  max-width: 98%;
  max-height: 98%;
  border-radius: 0.8rem;
  padding: 4;
}


.main-sec-title h2::before, .main-sec-title h3::before {
  content: "";
  margin-right: 20px;
  display: none;
}
.main-sec-title h2::before, .main-sec-title h2::after, .tm-section-title h3::before, .tm-section-title h3::after {
  display: inline-block;
  height: 1px;
  width: 80px;
  background: #4eb027;
  vertical-align: middle;
}

.img11 {
  item-align: top;
  margin-top: 0px;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-left: 1px;
  float: left;
  padding: 4px;
  width: 270px;
  border: 0px solid #aaa;
}

.title.is-2.f-white, .title.is-3.f-white, .title.is-4.f-white {
  color: #fff!important;
  font-style: italic;
}

.bg-grey {
  background-color: #999;
}

.bg-lt-grey {
  background-color: #eee;
}


.is-border-01 {
  border: 1px solid #c9c9c9;
}

.nav-item {
  padding-left: 10px;
}
.bg-white{
  background-color: #fff;
  padding:0 0 0 0;
  margin:0 0 0 0;
}

.is-marginless {
  margin: 0 0 0 0;
}

.is-padding-marginless {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}


/**************Questions *******************/

.bg-light-green {
  background-color: #d4ecbc;
}

.bg-light-pink{
  background-color: #e8c3c3;
}
.bg-light-grey {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.bd-example {
  width: 100%;
  padding: 1rem;
  margin: 1rem -0.75rem 0;
  border: solid #dee2e6;
  border-width: 1px 1px 1px;
}

.center {
  align-items: center; 
  justify-content: center;
}

.grid_box {
  width: 100%;
  text-align: center;
  padding: 10px;
  align-items: center; 
  justify-content: center

}

.multi-collapse {
  position: flex;
  top: 0px;
  left: 0px;
}

p {
  margin-top: 50px;
}

.accordion {
  width: 96%;
}

.breadcrumb-box {
  border-bottom: 1px;
  background-color: #FFF;
  padding-top: 30px;
  padding-bottom: 4px;

}

.img9 {
  margin-top: 20px;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-left: 1px;
  float: left;
  padding: 4px;
  width: 300px;
  border: 0px solid #aaa
}

.section {
  border-top: .0714285714rem solid rgba(0,0,0,.08);
  border-bottom: .0714285714rem solid rgba(0,0,0,.08);
}

/***************End ***********************/

h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, ul {
  margin: 0;
  padding: 0;
}

.checkbox:not(.b-checkbox)>span, .flex-middle, .radio:not(.b-radio) span {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (max-width: 1020px){
  [class*="grid-"] {
    width: 100%;
  }
}

