/*css*/
@import "grid.css";
@import "superfish.css";
@import "touchTouch.css";
@import "form.css";
@import "stuck.css";

@import url(//fonts.googleapis.com/css?family=Roboto:400,400italic,300,700);
@import url(//fonts.googleapis.com/css?family=Baumans);


/*========= My customed ==================*/
.dez-box, .dez-info, .dez-tilte, .dez-tilte-inner {
  position: relative;
}

.border-1 {
  border-width: 1px;
}

.dez-media img, .dez-post-media img {
  width: 100%;
  height: auto;
}

.m-b60 {
  margin-bottom: 60px;
}

.btn-book {
  font:normal 'Poppins' Arial, sans-serif;
  background-color: #00761f;
  color: #fff;
  border-radius: 6px;
  padding: 20px 20px;
  font-weight: 700;
  margin-top: 70px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 160px;
  cursor: pointer;
  z-index: 0;
}

.site-button, .site-button-secondry {
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  outline: none;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  line-height: 1.42857;
}


.h2-green{
  font:normal 'Poppins' Arial, sans-serif;
  font-size: 56px;
  font-weight: 800;
  line-height: 60px;
  color:#074800;
  margin-top: 90px;
  padding-bottom: 10px;
  border-bottom: 0px solid #c9c9c9;
  text-align: right;
}
.bg_grey {
  background: #545c56;
  
}

.h4-white {
  font:normal 24px/28px 'Poppins', Arial, sans-serif;
  color:#FFF;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 0px solid #c9c9c9;
  text-align: right;
}

.txt_dgreen {
  color: #269300;
}

.txt_pink {
  color: #e87570; 
}

.txt_green {
  color: #60d400;
}

.bs-glyphicons .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}

.sub_title{
  font: bold 18px/22px 'Roboto', Arial, sans-serif;
  color: #757575;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}


.main_logo {
  margin-top: 80px;
  z-index: -1;
}

.fade {
  opacity: 90%; 
}

.sub_logo {
  margin-top:20px;
  margin-bottom:20px;
}


.box-logo.content_box {
  padding-bottom: 20px;
  margin-bottom: -16px;
}

.box-logo {
  margin-top: 14px;
  padding-top: 20px;
  padding-bottom: 140px;
}

.top-margin-40 {
  margin-top: 40px;
}

.top-margin-60 {
  margin-top: 60px;
}

table {
  margin: 0px auto;            
  margin-bottom: 50px;
}

td {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 40px;
  padding-right: 40px;
}

.notice {
  color: #079813;
  margin-top: 20px;
  margin-bottom : 20px;
  text-align: center;
  font:18px/24px 'Roboto', Arial, sans-serif;
}

h4 {
  font:300 18px/22px 'Roboto', Arial, sans-serif;
  color:#959595;
  margin-top: 16px;
}

.h4 {
  font:300 18px/22px 'Roboto', Arial, sans-serif;
  color:#959595;
  text-align: center;
  margin-top: 6px;
}


.box-4-no-img {
  margin-top: 4px;
  padding-top: 20px;
  padding-bottom: 26px;
  text-align: center;
  color: #fff;
}


.marBoth1{
  margin-left: 25px;
  margin-right: 25px;
}

.img7{
  margin: 30px;
  margin-bottom: 50px;
  float: center;
  text-align: center;
  height: 45px;
  max-height: 45px;
  width:auto;
}

.img8 {
  margin-bottom: 10px;
  float: center;
  text-align: center;
  width: 100%;
}



.bg6{background: #fff !important;}
.marTop5{margin-top: 60px}

.btn-book:hover {
  color: #00ff00;
}


/*========= End of My customed ==================*/

input::-ms-clear {
  display: none;
}

html, body { }

a[href^="tel:"] {
  color: inherit;
  text-decoration:none;
}
* {
  -webkit-text-size-adjust: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.fleft {float:left;}
.fright {float:right;}
.clear {clear:both; width:100%; font-size:0; line-height:0;}
.wrapper, .wrapper-extra, .extra-wrap{
  position: relative;
  overflow:hidden;
  width: 100%; 
}
.wrap {
  position: relative;
  text-align: center;
}
.wrapper-after:after{
  display:block;
  visibility:hidden;
  clear:both;
  height:0;
  content:".";
}
.dis-block{display: block;}
.dis-inblock{display: inline-block;}

.txt_left{text-align: left;}
.txt_right{text-align: right;}
.txt_center{text-align: center;}
.txt_ital{font-style: italic;}
.txt_line_through{text-decoration: line-through;}

.lh24{line-height: 24px;}


.marg-left-0{margin-left:0 !important;}	
.marg-right-0{margin-right:0 !important;}
.marg-left-right-0{ margin-right:0 !important;margin-left:0 !important;}
.last-mbot{margin-bottom:0 !important;}	
.last-pbot{padding-bottom: 0 !important;}
.last-mpbot{margin-bottom:0 !important;padding-bottom:0 !important;}

.marLeft1{margin-left: 19px;}

.marRight1{margin-right: 13px;}
.marRight2{margin-right: 69px;}

.padTop1{padding-top: 20px;}

.padBot1{padding-bottom: 60px;}
.padBot2{padding-bottom: 41px;}

.mar1{margin: -1px 10px 0; display: inline-block !important; color: #808080 !important;}
.mar2{margin: 0 10px;}

.marTop0{margin-top: 0px;}
.marTop1{margin-top: 34px;}
.marTop2{margin-top: -16px;}
.marTop3{margin-top: 8px;}
.marTop4{margin-top: 17px !important;}

.indent1{width: 100%; margin-top: 30px;}
.indent2{width: 100%; margin-top: 55px;}


.pos_rel{position: relative;}

.marBot1{margin-bottom: -12px;}


.quote_1{
  text-align: center;
  max-width: 660px;
  display: inline-block;
  margin-top: 34px;
}
.hline2{
  position: relative;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #c9c9c9;
}
.hline2.v2{
  margin-top: 19px;
  padding-bottom: 37px;
}

.box, .box2, .box3{overflow: hidden;}
.bold{font-weight: bold;}
.fw400{font-weight: 400;}
.fw600{font-weight: 600;}


.color1{color: #fff;}
.color2{color: #62d03a;}
.color3{color: #3b3b3b;}

.bg1{background: #ebcd3f !important;}
.bg2{background: #f67570 !important;}
.bg3{background: #ff856c !important;}
.bg4{background: #fb9800 !important;}
.bg5{background: #62d03a !important;}




/* Global properties ======================================================== */
html, body { margin:0; padding:0; height:100%;}

body {
  min-width:300px;
  background: #f8f8f8;
  /*color:#9a9a9a;*/
  color:#757474;
  font:300 14px/21px "Roboto", Arial, Helvetica, sans-serif ;
}
.fs_14{font-size: 14px;}
#back-top {
  position: fixed;
  bottom: 40px;
  left: 51%;
  z-index: 1000;
  display: none;
  margin-left: 620px;
  width: 26px;
  height: 26px;
  background: url(/assets/up-arrow.png) 50% 50% no-repeat;
  color: #c5c5c5;
  text-align: center;
  cursor: pointer;
  border-radius: 500px;
  -webkit-transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;

}
#back-top i{line-height: 73px; font-size: 22px; display: none}
#back-top:hover {
  color: #3498db;
  background: url(/assets/up-arrow.png) 50% 50% no-repeat #b5fa9c;
}
.main{
  padding:0 0 0 0;
  width:100%;
  height: auto; 
  /*background: #f2f1e6; */
  margin:0 auto;
}
.div-content{
  margin:0 auto;
  padding-top: 0px;
  padding-bottom: 77px;
  padding-bottom: 0;
  width:100%;
  background: #f8f8f8;
  overflow: hidden;
}
.div-content.content_page{padding-bottom: 98px;}
.txt_col1{
  position: relative;
  display: inline-block;
  width: 64px;
}
.col1{
  position: relative;
  width: 25%;
  float: left;
}
.col2{
  position: relative;
  width: 232px;
  float: left;
}
.header_txt_section{
  -webkit-box-sizing: border-box; /* Safari */
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  box-sizing: border-box;
  padding: 26px 20px 30px 47px;
  background: #ebcd3f;
  color: #fff;
  height: 285px;
}
/***********************************************************************/
/*===============================>H-logo-properties=========================*/
h1{
  position: relative;
  display: inline-block;
  margin:0;
  margin-top: 0;
}
h1 img{max-width: inherit;}


h2 {
  font:bold 40px/44px 'Poppins','Roboto', Arial, sans-serif;
  color:#000;
  margin-top: 0px;
  padding-bottom: 20px;
  line-height: 50px;
}
h2.no_line{border: none; margin-top: 38px;}
h2.no_line2{border: none; margin-top: 38px; padding-bottom: 19px;}
h2.v2{margin-top: 32px;}
h2.v3{margin-bottom: -11px;}

h3 {
  font:22px/27px 'Roboto', Arial, sans-serif;
  color:#757575;
  /*	text-transform: uppercase; */
  margin-top: 20px;
  margin-bottom: 20px;
}


h4 {
  font:300 18px/22px 'Roboto', Arial, sans-serif;
  color:#959595;
  margin-top: 16px;
}


#search-results h4{color: #000; padding-bottom: 12px;}
span.search{color: #2ebbea !important;}
#search-results h4 a:hover{color: #2ebbea;}
h5{ 
  margin-top: 10px;
  margin-bottom: 0;
  color:#333333;
  text-transform: uppercase;
  font:14px/22px 'Roboto', Arial, sans-serif;
}

.num1{
  font:300 35px/52px 'Roboto', Arial, sans-serif;
  color:#fff; 
  margin-top: 21px;
  text-transform: uppercase;
  float: left;
  margin-right: 28px;
  background: #f85353;
  border-radius: 500px;
  width: 52px;
  height: 52px;
  text-align: center;
}

.num2{
  font: 300 50px/75px 'Roboto', Arial, sans-serif;
  color:#fff; 
  margin-top: 31px;
  text-transform: uppercase;
  width: 81px;
  height: 81px;
  background: #3e454c;
  margin-top: 36px;
  border-radius: 500px;
  text-align: center;
}

.fs24{font-size: 24px;}
.fs55{font-size: 55px;}

.txt1 {
  font:300 35px/36px 'Roboto', Arial, sans-serif;
  margin-top: 20px;
}
.txt2 {
  font:14px/20px 'Roboto', Arial, sans-serif;
  margin-top: 10px;
}
.txt3 {
  font:300 18px/20px 'Roboto', Arial, sans-serif;
  margin-top: 10px;
}
.txt4 {
  font:60px/60px 'Baumans', Arial, sans-serif;
  margin-top: 10px;
  color: #787878;
  text-transform: uppercase;
  letter-spacing: -3px;
}
.txt5 {
  font:300 37px/48px 'Roboto', Arial, sans-serif;
  margin-top: 20px;
  color: #6f6f6f;
}
.txt6 {
  font:14px/20px 'Roboto', Arial, sans-serif;
  margin-top: 20px;
  color: #62d03a;
  text-transform: uppercase;
}
.txt7 {
  font:36px/36px 'Roboto', Arial, sans-serif;
  margin-top: 50px;
  color: #363636;
  text-transform: uppercase;
}
.txt8 {
  font:18px/20px 'Roboto', Arial, sans-serif;
  margin-top: 5px;
  color: #747474;
  text-transform: uppercase;
}
.txt9 {
  font:15px/20px 'Roboto', Arial, sans-serif;
  margin-top: 27px;
  color: #62d03a;
  text-transform: uppercase;
}
.txt10 {
  font:18px/20px 'Roboto', Arial, sans-serif;
  margin-top: 31px;
  color: #fff;
}
.txt11 {
  font:16px/20px 'Roboto', Arial, sans-serif;
  margin-top: 28px;
  color: #fff;
  font-style: italic;
}

.client_txt {
  font: 600 20px/22px 'Roboto', Arial, sans-serif;
  color:#2a2a2a;
  margin-top: 13px;
  text-transform: uppercase;
  padding-left: 28px;
  background: url(/assets/sign1.png) 0 0px no-repeat;
}

.year_section{
  font:15px/20px 'Roboto', Arial, sans-serif;
  color:#ffd64f; 
  margin-top: 19px;
  float: left;
  width: 54px;
}



.white_bg{
  position: relative;
  margin-top: 40px;
  margin-bottom: 1px;
  padding: 29px 0 13px;
  width: 100%;
  border: none;
  background: #fff;
}


.comment_link{
  margin-top: 31px;
  margin-right: 31px;
}


p{margin-top: 17px;}
img{ margin-bottom: 0px;max-width:100%; height:auto;}

.img1{
  margin-top: 0px;
}
.img2{
  margin-top: 10px;
  margin-bottom: 12px;
}
.img3{
  margin-top: 20px;
}
.img4{
  margin-top: 45px;
  float: left;
  margin-right: 31px;
}
.img5{
  margin-top: 45px;
  float: left;
  margin-right: 21px;
  width: 300px;
}
.img6{
  margin-top: 24px;
  float: left;
  margin-right: 31px;
}

.img7{
  margin-top: 10px;
  margin-right: 21px;
  width: 300px;
  text-align: center;
}

.img9 {
  margin-top: 20px;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-left: 1px;
  float: left;
  padding: 4px;
  width: 300px;
  border: 0px solid #aaa;
}

.img10{
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 30px;
  float: right;
  padding: 0px;
  width: 300px;
  border: 0px solid #aaa;
}


a { 
  text-decoration:none; 
  cursor:pointer;
  color: inherit;
}

a.link1{}
a.link1:hover{color: #000;}

a.link2{}
a.link2:hover{color: #62d03a;}

a.link3{color: #3b3b3b;}
a.link3:hover{color: #62d03a;}

a.link4{text-decoration: underline;}
a.link4:hover{color: #62d03a;}



.comment_txt{margin-top: 4px;margin-bottom: -20PX;}
.comment_txt i{
  color: #bbbaba;
  font-size: 15px;
  margin-top: 5px;
  margin-right: 5px;
}


a:hover{
  color: #000;
  text-decoration:none;
}
a{
  -webkit-transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
}

.date_txt{text-transform: uppercase; font-size: 12px; color: #6f6f6f;}

.comment_icon2{
  position: relative;
  display: inline-block;
  margin: -17px -2px 0 19px;
  width: 63px;
  height: 55px;
  background: url(/assets/comment_icon_big.png) 0 0 no-repeat;
}
.section_year{
  float: left;
  width: 40px;
  color: #6f6f6f;
}


.num_section{
  position: relative;
  margin-top: 35px;
  width: 70px;
  height: 70px;
  font:600 30px/70px 'Roboto', Arial, sans-serif;
  color:#fff; 
  background: #323841;
  text-align: center;
  border-radius: 500px;
}


.date_section{
  position: relative;
  width: 70px;
  height: 70px;
  /*height: 126px;*/
  background-color: #8dbf41;
  float: left;
  margin-right: 31px;
  text-align: center;
  margin-top: 32px;
  color: #fff;
  text-transform: uppercase;
}
.day{font:30px/30px 'Roboto', Arial, sans-serif; margin-top: 9px; display: inline-block;}
.month{font:18px/18px 'Roboto', Arial, sans-serif; margin-top: 0;}




/************Header************/
header{
  position: relative;
  z-index: 9;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
header.content_header{
  margin-bottom: 79px;
}

.menu_section{
  width: 100%;
  position: relative;
  margin-top: 44px;
  display: inline-block;
  min-height: 75px;
}

.bot_line{
  display: inline-block;
  margin-top: 2px;	
  margin-bottom: 42px;
  width: 100%;
  height: 1px;
  background: #f2f2f2;	
}

/************Content***********/



blockquote{
  margin-top: 0px;
  position: relative;
  background: url(/assets/bq_sign.png) 0 5px no-repeat;
  padding-top: 0px;
  margin-top: 19px;
  display: block;
  padding-left: 53px;
  margin-bottom: 32px;
}


.img_txt_holder{
  width: 100%;
  background: #24292c;
  -webkit-box-sizing: border-box; /* Safari */
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  box-sizing: border-box;
  padding: 28px 10px 29px 33px;
}
.img_txt_holder p{margin-top: 0;}


.header-box{
  position: relative;
  margin-top: -395px;
  z-index: 10;
}

.box-1{
  margin-top: 14px;
  padding-top: 40px;
  padding-bottom: 88px;
}
.box-1.content_box{
  padding-bottom: 40px;margin-bottom: -16px;
  background: url(/assets/bg_pic1.jpg) 50% 50% no-repeat;
}
.box-2{
  width: 100%;
  background: #fff;
  margin-top: 68px;
  padding: 30px 0 30px;
}

.box-3{
  border: 1px solid #d2d2d2;
  -webkit-box-sizing: border-box; /* Safari */
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  box-sizing: border-box;
  padding: 20px 60px 36px;
}
.box-4{
  background: url(/assets/bg_pic2.jpg) 50% 0 repeat-x #828282;
  margin-top: 4px;
  padding-top: 20px;
  padding-bottom: 26px;
  text-align: center;
  color: #fff;
}


/* ============================= lists ====================== */
.listWithMarker {
  margin: 0;
  margin-top: 9px;
  margin-bottom: -10px;
}
.listWithMarker.v2{margin-top: 22px;}
.listWithMarker.v3{margin-top: 32px;}

.listWithMarker li {
  display: block;
  margin-bottom: 12px;
  padding-left: 16px;
  background: url(/assets/list_marker.png) 1px 5px no-repeat;
}
.listWithMarker li a {
  color: #4bb624;
  text-decoration: none;
  font: 300 14px/16px 'Roboto', Arial, sans-serif;
  text-transform: uppercase;
}
.listWithMarker li a:hover, .listWithMarker li.current a {
  color: #000;
}



.list_menu_footer{
  float: right;
  margin-top: 19px;
}
.list_menu_footer li{
  float: left;
  margin-left: 59px;
}
.list_menu_footer li a{font:14px/20px "Roboto", Arial, sans-serif; color: #585858; text-transform: uppercase;}
.list_menu_footer li a:hover, .list_menu_footer li.current a {
  color: #62d03a;
}
/* ============================= end lists ====================== */



.comments_btn{
  padding-left: 19px;
  background: url(/assets/comment_icon.png) 0 2px no-repeat;
  color: #6b6b6b;
}


.btn-more{
  display: inline-block;
  margin-top: 6px;
  padding: 6px 16px;
  background: #4d4d4d;
  color: #fff;
  text-decoration:none; 
  font: 16px/20px "Roboto", Arial, sans-serif;
  border-radius: 7px;
}
.more_btn:hover{
  color: #fff;
  background: #f67570 !important;
}
.more_btn.bg5:hover{background: #4d4d4d !important;}



figure{display: block; margin-top: 7px;margin-bottom: 20px;}
figure.img_inner {
  display: block;
  overflow: hidden;
  height: auto;
  line-height: 0;
  margin: 0;
  margin-top: 45px;
}
figure iframe {
  width: 100%;
  height: 479px;
}
address{
  display: block;
  margin-top: 16px;
  font-style: normal;
  margin-bottom: 21px;
}
address dl dt{
  margin-bottom: 0px;
  display: inline-block;
  /*color: #454545;*/
  margin-bottom: 21px;
}
address dd span{
  position: relative;
  display: inline-block;
  width: 97px;
}



/*********************************start magnifier2*************************************/
.magnifier2 {
  position:relative;
  /* display:block; */
  display: inline-block;
  width: 100%;
}
.magnifier2 img{
}
.zoom{
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box; /* Safari */
  -moz-box-sizing: border-box; /*Firefox 1-3*/

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: url(/assets/img_zoom_icon.png) 50% 50% no-repeat;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
a.magnifier2:hover .zoom{
  opacity: 1;
}
a.magnifier2 .zoom{
  opacity: 0;
}
/*********************************end magnifier2*************************************/
/************Footer************/
footer{ 
  display: block; 
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
footer.v2{border-top: 1px solid #c9c9c9;}
.footer_priv{
  padding: 20px 0 30px;
}

p.txt_priv{
  color:#4d4d4d;
  font:14px/20px "Roboto", Arial, sans-serif;
  margin-top: 20px;
  float: left;
  letter-spacing: 0px;
  text-transform: uppercase;
  min-width: 230px;
}
.txt_priv .fw400{text-transform: uppercase;}


/*----------- start social icons ----------------*/

.soc_icons {
  position: relative;
  display: inline-block;
  margin-top: 6px;
  white-space: nowrap;
  text-align: left;
  float: right;
}
.soc_icons > li {
  position: relative;
  display: inline-block;
  margin-left: 22px;
}
.soc_icons > li > a {
  position: relative;
  color: #4f4f4f;
  line-height: 1em;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  display: inline-block;
  text-align: center;
  font: normal normal 18px/24px 'FontAwesome';
}
.soc_icons > li > a:hover {
  color: #62d03a;
  text-decoration: none;
}



/*----------- end social icons ----------------*/

.priv_section1{float: left;}
.priv_section2{float: right;}







/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1199px) {
  .div-content{width:100%;}
  address dd span{width: 85px;}

  figure.img_inner{float: none; margin-right: 0;}
  figure iframe {width: 100%;}

  .soc_icons > li {margin-left: 7px;}
  .header_txt_section{height: 229px;}

  .txt1 {font: 300 25px/26px 'Roboto', Arial, sans-serif; margin-top: 0;}
  .txt2, .txt3{margin-top: 10px;}

  .col2 {width: 210px;}
  .box-3 {padding: 20px 20px 36px;}
  .img2 {margin-top: 20px;margin-bottom: -10px;}

  .list_menu_footer li{margin-left: 20px;}

  .btn-book {
    margin-top: 70px;
  }
}


@media only screen and (max-width: 979px) {
  .address figure iframe {
    max-width:100%;
    width: 100%;
  }

  figure iframe {width: 100%;}
  .magnifier2 {width: 100%;}
  .col1 {width: 50%;}
  .col1 img{width: 100%;}
  .header_txt_section{height: 364px;}

  .txt1 {font: 300 35px/36px 'Roboto', Arial, sans-serif; margin-top: 40px;}
  .txt2, .txt3{margin-top: 20px;}

  .col2 {width: 100%;}
  .col2 img{width: 100%;}
  .box-3 {padding: 20px 50px 36px;}


  .txt_priv, .list_menu_footer{float: none !important; display: block;}
  .list_menu_footer li{margin-left: 0; margin-right: 15px;}

  address {font-size: 12px;}
  address dd span {width: 64px;}
  .btn-book {
    margin-top: 70px;
  }

}


@media only screen and (max-width: 767px) {
  .btn-book {
    margin-top: 230px;
  }
  .s_logo {
    display: none;
  }

  .h2-green  {
    font-size: 36px;
    text-align: center;
    font-weight: 800;
    line-height: 46px;
    margin-top: 60px;
    padding-bottom: 0px;
  }

  .h4-white {
    color:#888;
    margin-top: 10px;
    padding-bottom: 0px;
    border-bottom: 0px solid #c9c9c9;
    text-align: center;
  }

  .box-1{
    padding-bottom: 40px;
  }

  .soc_icons {
    float: left;
  }


  .btn-book {
    display: none;
  }

  .main_logo {
    margin-top: 20px;
  }




  img{width: 100%;}
  img.no_resize{width: auto;}
  .box{overflow: visible;}
  .mobile_txt_cntr{text-align: center;}
  figure.img_inner {margin-bottom: 10px;}

  .marTopMobile1{margin-top: 30px;}
  header{padding-top: 26px;}
  .box-1{margin-top: 18px;}
  .col1 {width: 100%; float: none; margin-top: 1px;}
  .header_txt_section{height: auto;}

  .txt1 {font: 300 25px/26px 'Roboto', Arial, sans-serif; margin-top: 0;}
  .txt2, .txt3{margin-top: 10px;}

  .box-3 {padding: 20px 20px 36px; margin-top: 30px;}
  .txt4 {font: 60px/60px 'Baumans', Arial, sans-serif;}
  .txt5 {font: 300 25px/35px 'Roboto', Arial, sans-serif;}

  .box-4 {padding-bottom: 40px;}
  .img4, .img5, .img6{margin-bottom: 10px;}


}


@media only screen and (max-width: 479px) {
  /*.main{width: 300px;}*/
  /*h1 img{width: 100%;}*/
  .list_menu_footer{display: none;}
  .btn-book {
    margin-top: 230px;
  }
  .s_logo {
    display: none;
  }

  .main_logo {
    margin-top: 20px;
  }



}
@media only screen and (max-width: 320px) {
  .btn-book {
    margin-top: 230px;
  }
  .s_logo {
    display: none;
  }

  .main_logo {
    margin-top: 20px;
  }

}

.h3 {
  font:15px/24px 'Roboto', Arial, sans-serif;
  color:#656464;
  margin-top: 10px;
}


.title {
  font:bold 32px/36px 'Roboto', Arial, sans-serif;
  color:#193730;
  margin-top: 26px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c9c9c9;
}

input[type=text],  input[type=tel], textarea {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  user-select: text;
  cursor: auto;
  padding: 5px;
  margin: 4px;
  margin-left: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #dfdfdf;
  size: 30;
  width: 600px;
}

input[type=email]{
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  user-select: text;
  cursor: auto;
  padding: 5px;
  margin: 4px;
  margin-left: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #dfdfdf;
  size: 30;
  width: 500px;
}

textarea#article_body {
  width: 600px;
  height: 600px;
}

h3.sm {
  margin-top: 0px;
}

input#contact_name, input#contact_email, input#contact_subject, input#contact_phone, input#contact_message {
  width: 300px	
}

select {
  margin-left: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #dfdfdf;
  size: 30;
  width: 310px;
}


#contact_message{
  width: 300px;
  height: 260px;
}

.lblContactName{
  margin-top: 38px;
}
span.error {
  font: red;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

input[type=checkbox] {
  height: 10px;
  width: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: solid #e5e5e5;
  border-width: 1px;
}


input[type=checkbox]:checked {
  background-color: #dfdfdf;
}

.checkbox {
  padding-left: 40px;
}


