.grid_100.has-text-centered
  .dez-separator-outer
  %h2#what.subtitle
    %font.txt_dgreen Balancing Acupuncture
  .dez-separator-outer
    .dez-separator.bg-primary.style-liner
.grid_80.has-text-justified
  %h2.title.is-4
    Life and Nature uses balancing acupuncture methods that have been selected from traditional acupuncture methods and developed by us, proven through years of clinical trials and research.

    Life and Nature's unique 8-session balancing acupuncture consists of:
    %br
    %br

    1. Initial examination, diagnosis and consultation
    %br
    2. Test questionnaires for toxicity 
    %br
    3. 8 acupuncture sessions including scalp acupuncture
    %br
    4. 2 cupping sessions
    %br
    5. Diet and nutrition advice
    %br
    6. Planning for future treatment or maintenance if needed.
    %br

.grid_100.has-text-centered
  %h2#safe.subtitle
    %font.txt_dgreen Benefits of balancing acupuncture 
  .dez-separator-outer
    .dez-separator.bg-primary.style-liner
  .grid_80.has-text-justified
    %h2.title.is-4
      It opens 12 channels in the body.
      %br
      It balances the 12 organs of the body.
      %br
      It balances hormones.
      %br
      It balances the nervous system.
      %br
      It strengthens the immune system.
      %br
      It activates the metabolism.
      %br
      It helps to remove toxins from the body.
      %br
      It helps to get a balanced weight.
      %br
      It balances the musculoskeletal system.
      %br

.grid_100.has-text-centered
  %h2#how.subtitle
    %font.txt_dgreen Diseases and symptoms that can be helped
  .dez-separator-outer
    .dez-separator.bg-primary.style-liner
  .grid_80.has-text-justified
    %h2.title.is-4
      Numerous clinical trials have shown that this treatment can help with the following symptoms or conditions:
      %br
      %br
      Chronic or acute pain, sports injuries, digestive disorders, chronic fatigue, nervous disorders, skin problems, emotional disorders, diabetes, high blood pressure, menopausal syndrome, cancer, after stroke, infertility, gynecological disorders, male dysfunction, allergies, degenerative arthritis, rheumatism Arthritis, sleep disorders, ADHD, autism, dizziness, anesthesia, respiratory diseases, various headaches, Singles, diseases of unknown cause

.grid_100.has-text-centered
  %h2#side.subtitle
    %font.txt_dgreen 
      Worsening Symptoms (Healing Crisis)
  .dez-separator-outer
    .dez-separator.bg-primary.style-liner
.grid_80.has-text-justified
  %h2.title.is-4.has-text-justified
    While most people notice a marked improvement in their symptoms following acupuncture, some feel worse before they start feeling better. In natural medicine circles, this is sometimes referred to as a healing crisis. The idea is that as your body starts undergoing the changes involved in moving toward health, things get stirred up. This can cause not only an exacerbation of current symptoms but also the recurrence of previous ailments that had been dormant.
        
    Acupuncture awakens your self-healing capabilities. With that can come an onslaught of bodily awareness. This usually is a positive experience but it also can mean heightened sensitivity or intolerance for things that previously felt normal. An example of this is someone who unconsciously adapts to stress by tightening and hunching up his shoulders. After an acupuncture treatment, once this person’s bodily felt sense has been woken up, his mild upper back and neck tension might start screaming.
        
    The good news about this side effect is that it’s a sign that things are moving. In the case of acupuncture, this means that the primary objective is being met. That is, you are starting to transition on multiple levels from stuck to unstuck.
  %h4{:class => "title.is-3"}
    %a{:href => "#"} Fatigue
  %div
    %h2.title.is-4.has-text-justified
      People can feel wiped out after acupuncture. A more common result is increased energy but sometimes the “acu land” effect hangs on a little longer. This is your body telling you that it’s depleted. Feeling fatigued after acupuncture is not cause for concern but it is a warning sign that you need to rest.
        
      If you have this experience, take it easy for the remainder of the day. Take a bath that night. Go to bed early. Come morning, the combination of acupuncture and rest will leave you feeling born again.
  %h4{:class => "title.is-3"}
    %a{:href => "#"} Soreness
  %div
    %h2.title.is-4.has-text-justified
      Body parts where acupuncture needles get inserted can feel sore after needles are removed. I’ve found that this most commonly occurs with points in the hands and feet, especially Large Intestine 4, an acupuncture point located between the thumb and index finger. You also may experience muscle soreness away from the needling site if a trigger or ashi point was released during your treatment.
        
      Soreness from acupuncture typically dissipates within 24 hours. However, big trigger point releases can cause residual soreness that lasts a few days. Most acupuncturists will warn you about this before you leave your appointment.
  %h4{:class => "title.is-3"}
    %a{:href => "#"} Bruising
  %div
    %h2.title.is-4.has-text-justified
      Although less common than soreness, bruising can occur at the needling site. Sometimes bruising is the result of a hematoma, a localized collection of blood that gets initiated when the needle punctures the skin. Bruises, unfortunately, usually last longer than soreness from an acupuncture needle. Still, they generally are not anything to worry about beyond the aesthetic inconvenience.
        
      It is unknown why some people bruise from acupuncture. I have a few patients who, no matter what I try in terms of needle brand, size or technique, they bruise every time. (Again, I often see it happen at Large Intestine 4.) Others—the majority—never experience bruising anywhere.

  %h4{:class => "title.is-3"}
    %a{:href => "#"} Lightheadedness
  %div
    %h2.title.is-4.has-text-justified
      This is a common symptom that many patients experience after treatment.
      Patients experience lightheaded or mild headaches as the blockage in the body begins to cloud after acupuncture treatment. This symptom lasts for a day or two at most, but if you refrain from excessive exercise or work and get a good rest, the symptoms will be relieved soon. Drink plenty of lukewarm water.

  %h4{:class => "title.is-3"}
    %a{:href => "#"} Muscle Twitching
  %div
    %h2.title.is-4.has-text-justified
      Every time I get acupuncture, no matter where the needles are placed, my right quadricep muscle twitches like crazy. Don’t ask me why. People may experience involuntary muscle twitching during or after acupuncture. I’ve seen this occur in muscles that receive acupuncture needles and, as in my case, on seemingly random parts of the body that are far away from any needles.
        
      Muscle twitching is different from full-on muscle spasm. If during or after an acupuncture treatment you feel that one of your muscles is acutely spasming, especially if it’s a muscle that was just needled, tell your acupuncturist. He or she might be able to release it before you go on your merry way.
  %h4{:class => "title.is-3"}
    %a{:href => "#"} Emotional Release
  %h2.title.is-4.has-text-justified
    Sometimes people cry in acupuncture. Not because they’re in pain but because their emotions, which often get stifled while powering through life, become free flowing. The emotional release that can happen in acupuncture usually is a positive experience, but it can be surprising, especially for people who tend to be more emotionally stoical.
      
    Feeling extra sensitive or tear prone in an acupuncture session, or in the days that follow, is completely normal. It’s also a sign that the acupuncture is working. Even if you’re seeking acupuncture for a physical ailment, increased emotional expression is an indication that healing is happening. From an acupuncture perspective, physical and emotional health are interconnected, so emotional shifts suggest forthcoming physical changes as well.

  %h4{:class => "title.is-3"}
    %a{:href => "#"} Other Symptoms
  %div
    %h2.title.is-4.has-text-justified
      In addition, depending on the patient, there may be symptoms such as excessive sweating, thirst, increased urine volume, increased stool volume, and runny nose. This is a symptom that occurs when the clogged flow of Qi is broken. This is a phenomenon that occurs when the body is cleansing or adapting to the flow of Qi. It is usually mild and the symptoms disappear after a day or two. These symptoms disappear spontaneously without any special treatment, but if you are concerned, consult your oriental medicine doctor.

