.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4
      Appointments can be made by phone, text or email.
     
%br
 

.container
  .accordion#Answer
    .accordion-item
      %h2.accordion-header#heading-1.title.is-4 
        %button.accordion-button.collapsed{"aria-controls" => "collapse-1", "aria-expanded" => "false", "data-bs-target" => "#collapse-1", "data-bs-toggle" => "collapse", :type => "button"}            
          Call for Appointments    
      #collapse-1.accordion-collapse.collapse{"aria-labelledby" => "heading-1", "data-bs-parent" => "#Answer"}
        .accordion-body
          .col.is-5            
            Please call during business hours.              
            %br
            Provide the patient's full name, date of birth, call back number and the date and time you would like to visit.
            %br
            %br
              %a.btn.btn-primary.h2.is-4.f-white
                CALL: 714-443-1779, 714-660-3117 


  .accordion-item
    %h2.accordion-header#heading-2.is-4   
      %button.accordion-button.collapsed{"aria-controls" => "collapse-2", "aria-expanded" => "false", "data-bs-target" => "#collapse-2", "data-bs-toggle" => "collapse", :type => "button"}
        
        Text or Email for Appointments
    #collapse-2.accordion-collapse.collapse{"aria-labelledby" => "heading-2", "data-bs-parent" => "#Answer"}
      .accordion-body
        .col.is-5            
          You can text or email us anytime.            
          %br
          Please provide us the patient's full name, date of birth, call back number and the date and time you would like to visit.
          %br
          We will contact you ASAP.
          %br
          %br
            %a.btn.btn-primary.h2.is-4.f-white
              TEXT: 714-443-1779, 714-660-3117 
              %br
              EMAIL: info@life-and-nature.com    
         



  .accordion-item
    %h2.accordion-header#heading-3.is-4   
      %button.accordion-button.collapsed{"aria-controls" => "collapse-3ee", "aria-expanded" => "false", "data-bs-target" => "#collapse-3ee", "data-bs-toggle" => "collapse", :type => "button"}
        
        Cancellation or Reschedule
    #collapse-3ee.accordion-collapse.collapse{"aria-labelledby" => "heading-3", "data-bs-parent" => "#Answer"}
      .accordion-body
        .col.is-5   
          To cancel or reschedule your appointment, please contact us by phone or text at least 24 hours prior to your appointment time. 
          %br Please provide the patient's name and appointment information.
          %br
          Please understand that patient rooms are limited, so other patients cannot receive treatment if you are unable to visit without notice. 
          %br
          Therefore, if you inform us 24 hours in advance, patients who are waiting for an appointment can take your place.
          %br
          %br
            %a.btn.btn-primary.h2.is-4.f-white.right
              CALL or TEXT: 714-443-1779 
              %br 714-660-3117 



  .accordion-item
    %h2.accordion-header#heading-4.is-4   
      %button.accordion-button.collapsed{"aria-controls" => "collapse-4", "aria-expanded" => "false", "data-bs-target" => "#collapse-4", "data-bs-toggle" => "collapse", :type => "button"}
        
        Text or Email for Appointments
    #collapse-4.accordion-collapse.collapse{"aria-labelledby" => "heading-4", "data-bs-parent" => "#Answer"}
      .title.is-4.accordion-body
        Answer



  .accordion-item
    %h2.accordion-header#heading-5.is-4   
      %button.accordion-button.collapsed{"aria-controls" => "collapse-5", "aria-expanded" => "false", "data-bs-target" => "#collapse-5", "data-bs-toggle" => "collapse", :type => "button"}
        
        Text or Email for Appointments
    #collapse-5.accordion-collapse.collapse{"aria-labelledby" => "heading-5", "data-bs-parent" => "#Answer"}
      .title.is-4.accordion-body
        Answer
