.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4
      sjögren’s syndrome, Addison disease, Celiac disease (gluten-sensitive enteropathy), Dermatomyositis, Graves disease, Hashimoto thyroiditis, Multiple sclerosis, Myasthenia gravis, Pernicious anemia, Rheumatoid Arthritis, Inflammatory bowel disease (Crohn's Disease, Ulcerative colitis)Chronic Fatigue, Fibromyalgia, Psoriasis/psoriatic arthritis, Multiple sclerosis, Systemic lupus erythematosus (SLE), Autoimmune vasculitis
      %br
      %br
    %h2.is-5.has-text-justified
      Common Symptoms of autoimmune disease include:
      %br
      %br
      %li Fatigue
      %li Joint pain and swelling
      %li Skin problems
      %li Abdominal pain or digestive issues
      %li Recurring low grade fever
      %li Swollen glands


