.grid_100
  .grid_80.has-text-justified
    %h2.title.is-3
      sjögren’s syndrome, Addison disease, Celiac disease (gluten-sensitive enteropathy), Dermatomyositis, Graves disease, Hashimoto thyroiditis, Multiple sclerosis, Myasthenia gravis, Pernicious anemia, Rheumatoid Arthritis, Inflammatory bowel disease (Crohn's Disease, Ulcerative colitis)Chronic Fatigue, Fibromyalgia, Psoriasis/psoriatic arthritis, Multiple sclerosis, Systemic lupus erythematosus (SLE), Autoimmune vasculitis
      %br
      %br
    %h2.title.is-4.has-text-justified
      Common Symptoms of autoimmune disease include:
      %br
      %br
      %li Fatigue
      %li Joint pain and swelling
      %li Skin problems
      %li Abdominal pain or digestive issues
      %li Recurring low grade fever
      %li Swollen glands


