.grid_100
  .grid_80.has-text-justified
    %h2.title.is-3
      Life & Nature advises on nutritional supplements, exercise, and diet according to the patient's lifestyle, diet, past medical history, constitution, chemical balance, and western medicine intake.
      %br
      %br
      Most of diseases are closely related to the mental and physical condition of the patient and the environment, so without these improvements, health cannot be maintained.

      %br
      %br
      We believe in combining the 3 pillars of natural medicine: botanical, homeopathy, and nutrition. These tailored protocols are geared towards supporting the structure and function of the body or temporarily relieving specific symptoms.
    %h2.title.is-4.has-text-justified

