.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4
      Cupping is a very empirical medicine as a traditional medicine. Current medical scientists are not trying to prove its effectiveness, but over a long period of time, the experience of many people has proven its healing effect. When used in conjunction with acupuncture, the maximum therapeutic effect can be achieved.
      %br
      %br
      Suction from cupping draws fluid into the treated area. This suction force expands and breaks open tiny blood vessels (capillaries) and cells under the skin. Your body treats the cupping area like an injury. It sends more blood to the area to stimulate the natural healing process. Some people theorize that cupping clears the pores and releases toxins.
      %br
      %br
      Cupping therapy and Acupuncture are often combined to treat the patients in my practice for the best result

.dez-separator.style-liner 
.grid_subtitle
  %font.txt_dgreen Benefits

.container.has-text-centered
  %h2.title.is-4
    %u 
      It is effective in treating muscle sprains, strains, and spasms.
  %h2.is-5
    Cupping is a wonderful option to improve fascial mobility and decrease muscle pain. 
    %br
    Usually it does not hurt.
    %br
    in fact it helps loosen up the soft tissue and loosen the muscles and
    it increases the blood flow through tight muscles and works great with improving tissue mobility.
    %br
    %br
  %h2.title.is-4
    %u 
      It improves skin conditions 
  %h2.is-5
    It reduces varicose veins, spider veins, stretch marks and scars
    %br
    Increased blood flow enables your body to dispose of toxins, restores lymphatic circulation, and helps remove edema (excess fluid), which helps reduce the appearance of scarring. Studies have shown the positive effects of cupping on stretch marks and scars even in areas that are far from the area where the cups are applied.
    %br
    Also it treats boils, abscess and acne.
    %br
    %br
  %h2.title.is-4
    %u 
      It reduces anxiety 
    %br
  %h2.is-5
    The massage effect of the cupping promotes deep relaxation to move through your entire body. (Your parasympathetic nervous system is responsible for slowing your heart rate, assisting in digestion, and increasing intestinal and gland activity.)
    %br
    %br
  %h2.title.is-4
    %u 
      It clear colon blockages and aid digestion
  %h2.is-5
    Cupping helps to engage the parasympathetic nervous system, which increases blood flow to the digestive tract. Gentle cupping over the abdomen also stimulates the insides of your digestive organs. It aids in peristalsis (contractions that push food through your digestive tract), helps clear colon blockages, encourages blood and body-fluid to move through your organs, and helps relieve indigestion.

.dez-separator.style-liner 
.container
  .grid-2
    .grid_subtitle
      %font.txt_dgreen Side effects
    %h2.is-5.has-text-justified
      Cupping is fairly safe, as long as you take from a trained health professional. But you could have these side effects in the area where the cups touch your skin:
      %br
      %br
      %li Mild discomfort
      %li Bruises
      %li Blisters
      %li Mild fatigue
      %br
      %br
      But no need to worry. This is because the principle of it is to intentionally injure and draw out the healing power of the body. Talk to your doctor about any discomfort after treatment and if you have sensitive skin, tell your doctor before treatment.
  .grid-2
    .grid_subtitle
      %font.txt_dgreen Precautions
    %h2.is-5.has-text-justified
      %li The patient should select a comfortable position. Usually it takes 5 to 30 minutes and the patient can not move during the treatment.
      %br
      %li It is not advisable to apply cupping to the patient with skin ulcer, edema, or on an area overlying large blood vessels, to the patient with high fever and convulsion; or to the abdominal and sacral regions of the pregnant women.
      %br
      %li It is not suitable to apply cupping to the patient susceptible to spontaneous bleeding or endless bleeding after trauma. If you take a blood thinner and are susceptible to spontaneous bleeding, consult your physician.
      %br
      %li After cupping, there is a blood stasis or bruise at the local area. Generally, it will disappear several days later.
      %br
      %li The infirm and pregnant women should avoid.

.dez-separator.style-liner 

.grid_subtitle
  %font.txt_dgreen Medical Massage
.container.has-text-justified
  %h2.is-4
    Our special medical massage service consists of two parts: 
    %br
    %br
    Stimulate lymphatic system and stimulate the acupuncture channels in the body.
    %br
    %br
    While cupping has the more effect of breakdown muscles tightness and regenerating cells with rather strong stimulation, medical massage gently stimulates the lymphatic and the acupuncture channels of the body. It helps the Qi flow and blood circulation, increases the body's excretion of waste products, boosts immunity, and stimulates the parasympathetic nerve to induce natural relaxation and healing of the body.
    %br
    %br
    After treatment, you may experience fatigue, symptoms such as a cold, mild body aches, or mild headaches. Some patients may experience increased urination or stool frequency and sweating profusely. This is your body's natural healing and detoxification process, so drink warm water, eat easily digestible foods, do light stretches and get more rest.
