.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4
      The old definition of toxin is a substance produced by plants and animals that is toxic (poisonous) to humans. In modern times, the definition of a toxin has become more broad. This means that not only a certain small number of sick people have toxins, but even healthy people are exposed to toxins every day that poses a risk to their health. Toxins include toxins that are injected into our body from the outside and toxins that are produced inside our body.
      %br
      %br
      It is not too much to say that the biggest enemy of health in our lives is not viruses or cancer, but toxins.
      %br
      %br
      Toxins taken from the outside are now everywhere in our lives. From newborn babies to the moment they die, we are injecting thousands of different toxins through our senses of smell, hearing, food, skin and even the brain. Water, air, toothpaste, baby toys, disposable diapers, baby food, detergent, shampoo, detergent, cosmetics, various plastic disposable products, various hormones and antibiotics in food, fertilizer, fast food, artificial sweetener, From artificial colors, computers, cell phones, electric wires, 5G, various drugs, vitamins, and vaccines, there are few days when we do not take toxins from the outside.
      %br
      %br
      In addition, stress is the biggest culprit, and the human body constantly produces toxins due to an imbalance of metabolic disorders. It constantly cleans, purifies, and repairs through the liver, which has the strongest detoxification function in the universe, the kidneys, which are filters, the lymph system, which is the drain of the human body, and the Central Nerve system, which cleans up the memory of the computer. A large amount of toxins are injected, leading to a decrease in function and even to the point of non-functioning.
      %br
      %br
      The body appeals to us in the form of various pains and diseases. However, we recognize these complaints as discomfort or malfunction, and in order to turn off this switch, which is the body's self-defense system, we try to temporarily cover the discomfort by taking numerous kinds of drugs such as PainKiller and Antidepressant.
      %br
      %br
      For example, when we are stressed, we may experience indigestion, poor sleep, or sore neck or shoulders. In this case, the fundamental solution is to reduce stress or increase your body's ability to relieve stress, not digestives, sleeping pills, or muscle relaxants. Taking medications can temporarily relieve discomfort, but there are big pitfalls to this. Not only does it miss the time to treat the underlying problem, but the chemical components contained in the drug are not eliminated from the body's metabolic activity and may cause bigger problems in the future.
      %br
      %br
      We interpret various discomforts such as pain, insomnia, depression, indigestion, paralysis, and skin troubles, which are SOS signals sent by the body, and alleviate them, as well as find and treat the underlying problem to find and treat diseases or medications that may occur in the future. Our goal is to protect you from side effects and help you live a higher quality of life.

      %br
      %br
      The essential treatment to solve this issue is detoxification. It reduces the burden on the liver and kidneys, revives the function of them, cleans the organs, cells, nerve cells, blood vessels, blood, receptors, and lymph system of the body and activates their function.
    %br

.dez-separator.style-liner 
.container
  .grid-2
    .grid_subtitle
      %font.txt_dgreen Who needs it? 
    %h2.is-5.has-text-justified
      We recommend that everyone go through this process, but especially those who:
      %br
      %br
      Long-term drug use, alcohol use, exposure to chemicals, chronic pain or disease, skin disease, obesity, GI issue, consumption of instant food or fast food, diabetes, cancer treatment, various neuropsychiatric diseases, chronic fatigue, allergies If you suffer from , fatty liver, or immune diseases, the process of detoxification is essential.

      %br
      %br
      It not only relieves discomfort, but also purifies the body, so it normalizes the body's natural detoxification function, strengthens the natural healing ability, normalizes hormone functions, strengthens immunity, and helps to live a high-quality life without disease.

  .grid-2
    .grid_subtitle
      %font.txt_dgreen Indications that Toxin is present 
    %h2.is-5.has-text-justified
      Not limited to:
      %br
      hair loss, skin trouble, depression, insomnia, indigestion, obesity, fatigue, dark circles, diabetes, pain, numbness, constipation, menstrual irregularity, menopausal disorder, irritable bowel syndrome, allergies, frequent infectious diseases, chronic pain, gum disease, diabetes, cancer
      %br
      %br

    %h2.title.is-4
      %u 
        Emotional Toxin 
    %h2.is-5.has-text-justified
      Above all, it is important to solve the toxins in the mind.
      Forgiveness, gratitude, and love are important in the relationship between myself and myself, but also in the relationship with others.
      Hatred, hatred, unforgiveness, and anger are not only harmful to your mental health, they also affect your body.
      During my clinic life, many chronic disease patients have experienced trauma or trauma in the past. According to German New Medicine, cancer patients have been found to have wounds in certain areas of the brain, depending on where the cancer occurred. Even a broken heart requires a process of healing. If left for a long time, it becomes a big disease and destroys my life.

.dez-separator.style-liner 

.grid_subtitle
  %font.txt_dgreen 
    Toxic and Essetional Element Test

.container
  .row
    .grid-4.is-border-3
      %h2.title.is-5
        Hair Elements
      %h2.is-5
        Hair Elements analysis provides information regarding recent and ongoing exposure...

    .grid-4.is-border-3
      %h2.title.is-5
        Hair Toxic Element Exposure Profile
      %h2.is-5
        Hair Elements analysis provides information regarding recent and ongoing exposure...

    .grid-4.is-border-3
      %h2.title.is-5
        Stool Toxic Metals
      %h2.is-5
        Fecal elemental analysis provides a direct indication of dietary exposure to...

    .grid-4.is-border-3
      %h2.title.is-5
        Urine Essential Elements
      %h2.is-5
        Assessment of essential element status/wasting

  .row
    .grid-4.is-border-3
      %h2.title.is-5
        Urine Mercury
      %h2.is-5
        Urine Elements are traditionally used to evaluate exposure to potentially toxic...

    .grid-4.is-border-3
      %h2.title.is-5
        Urine Toxic & Essential Elements
      %h2.is-5
        Urine Elements are traditionally used to evaluate exposure to potentially toxic...

    .grid-4.is-border-3
      %h2.title.is-5
        Urine Toxic Metals
      %h2.is-5
        Urine Elements are traditionally used to evaluate exposure to potentially toxic...

    .grid-4.is-border-3
    %h2.title.is-5
      %br
        %br




