.container.is-margin-top-2
  .grid-3-2.pad-rt
    %h3.is-5.bold
      Toxins are everywhere. 
      %br
      %br
    %h3.is-5.has-text-justified
      You are exposed to toxins every single day. In fact, your body produces its own toxins, or waste known as endogenous toxins, simply by functioning. Your body also encounters external (exogenous) toxins, or chemicals made outside of your body. They are in the air you breathe, the food you eat, the water you drink, and the products you touch.1,2 Exposure to these toxins can overburden your system’s natural ability to detoxify.
      %br
      %br
    %img.img8{:src => "#{ENV['IMG_PATH']}toxin-diagram.jpg"}
  .grid-3
    %h3.is-5.has-text-justified.bold
      Toxins can contribute to: 
      %br
      %br
    %h3.is-6
      • Fatigue or difficulty sleeping 
      %br
      • Indigestion and other GI issues 
      %br
      • Food cravings 
      %br
      • Weight gain or weight loss
      %br
      • Reduced mental clarity 
      %br
      • Low libido 
      %br
      • Skin issues 
      %br
      • Joint discomfort
      %br
      • Other inflammatory diseases

      %br
      %br
    %h3.is-5.bold
      Indications that Toxin is present 
      %br
      %br
    %h3.is-6.has-text-justified
      %u
        Not limited to:
        %br
      hair loss, skin trouble, depression, insomnia, indigestion, obesity, fatigue, dark circles, diabetes, pain, numbness, constipation, menstrual irregularity, menopausal disorder, irritable bowel syndrome, allergies, frequent infectious diseases, chronic pain, gum disease, diabetes, cancer
      %br
      %br
      %u
        Emotional Toxin 
      %br
      Above all, it is important to solve the toxins in the mind.
      Forgiveness, gratitude, and love are important in the relationship between myself and myself, but also in the relationship with others.
      Hatred, unforgiveness, and anger are not only harmful to your mental health, they also affect your body.

  .dez-separator.style-liner 
.container  
  .grid_subtitle
    %font.txt_dgreen 
      Our Unique Six Weeks Detox & Balance Program
.container.has-text-centered.mycard  
  %h3.is-5.has-text-justified
    %span.badge.bg-danger.mag-lt WEEK  1
    Get to know where you are at
    %br
    %span.badge.bg-danger.mag-lt WEEK 2
    Colon cleansing, Acupuncture, Set up your own diet plan
    %br
    %span.badge.bg-danger.mag-lt WEEK 3
    Begin your detox kit, Acupuncture Treatment
    %br
    %span.badge.bg-danger.mag-lt WEEK 4
    Continue your detox kit, Acupuncture Treatment, Cupping Therapy
    %br
    %span.badge.bg-danger.mag-lt WEEK 5
    Continue your detox kit, Acupuncture Treatment, Massage Therapy
    %br
    %span.badge.bg-danger.mag-lt WEEK 6
    Finish your detox kit, Wrap up
    %br

.container.is-margin-top-2.has-text-centered
  %img.img8{:src => "#{ENV['IMG_PATH']}easy-safe.jpg"}
  .dez-separator.style-liner 

  .grid_subtitle
    %font.txt_dgreen 
      Toxic and Essetional Element Test

.container
  .row
    .grid-4.is-border-3
      %h2.title.is-5
        Hair Elements
      %h2.is-5
        Hair Elements analysis provides information regarding recent and ongoing exposure...

    .grid-4.is-border-3
      %h2.title.is-5
        Hair Toxic Element Exposure Profile
      %h2.is-5
        Hair Elements analysis provides information regarding recent and ongoing exposure...

    .grid-4.is-border-3
      %h2.title.is-5
        Stool Toxic Metals
      %h2.is-5
        Fecal elemental analysis provides a direct indication of dietary exposure to...

    .grid-4.is-border-3
      %h2.title.is-5
        Urine Essential Elements
      %h2.is-5
        Assessment of essential element status/wasting

  .row
    .grid-4.is-border-3
      %h2.title.is-5
        Urine Mercury
      %h2.is-5
        Urine Elements are traditionally used to evaluate exposure to potentially toxic...

    .grid-4.is-border-3
      %h2.title.is-5
        Urine Toxic & Essential Elements
      %h2.is-5
        Urine Elements are traditionally used to evaluate exposure to potentially toxic...

    .grid-4.is-border-3
      %h2.title.is-5
        Urine Toxic Metals
      %h2.is-5
        Urine Elements are traditionally used to evaluate exposure to potentially toxic...

    .grid-4.is-border-3
    %h2.title.is-5
      %br
        %br




