.grid_100
  .grid_80.has-text-justified
    %h2.title.is-3
      Anger, Anxiety and panic attacks,  Bipolar disorder, Body dysmorphic disorder(BDD), Depression, Dissociation and dissociative disorders, Eating problems, Hearing voices, ,Hoarding, Insomnia, Hypomania and mania, Loneliness, Obsessive-compulsive disorder (OCD), Panic attacks, Paranoia,  Personality disorders, Phobias, Postnatal depression & perinatal mental health, Post-traumatic stress disorder (PTSD), Addiction, Seasonal affective disorder (SAD), Sleep Problem, Stress, Suicidal feelings
      %br
      
