.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4
      Life and Nature uses balancing acupuncture methods that have been selected from traditional acupuncture methods and developed by us, proven through years of clinical trials and research.

      Life and Nature's unique 8-session balancing acupuncture consists of:
    %br
    %br
    %h2.title.is-4.has-text-justified
      
       
