.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4
      GERD, IBS, Gastritis, SIBO, Celiac Disease, Crohn's Disease, Ulcerative Colitis, Colitis, Chronic Diarrhea, Dysentery, Severe Fecal Impaction, Constipation, Stomach & Abdominal Pain, Hemorrhoids, Bloody Stools, Hernia, Chronic Indigestion, Gastroparesis, Bloating, Nausea and vomiting, Swallowing problems, Weight gain or loss
      %br
      %br
    %h2.title.is-4.has-text-justified
      %br
      %br


