.grid_100
  .grid_80.has-text-justified
    %h2.is-4
      Life and Nature performs lab tests on those who want to accurately understand their condition and help with future treatment.
    %br
    %br
    %h2.title.is-4.has-text-justified

.grid_100.has-text-centered
  .dez-separator.bg-primary.style-liner
  .grid_90
    .row
      .grid-3
        %img.img8{:src => "https://site-akiajqrf22xmaqzsiz6q.s3.amazonaws.com/images/BroIcons/GastroIcon.png"}/
        %h2.title.is-5
          Breakthrough Assessment of Bacteria, Yeast, Parasites and Biochemical Markers
      .grid-3
        %img.img8{:src => "https://site-akiajqrf22xmaqzsiz6q.s3.amazonaws.com/images/BroIcons/ToxicIcon.png"}/
        %h2.title.is-5
          Assessment of Key Minerals and Harmful Metals
      .grid-3
        %img.img8{:src => "https://site-akiajqrf22xmaqzsiz6q.s3.amazonaws.com/images/BroIcons/NutriIcon.png"}/
        %h2.title.is-5
          Insight into a Wide Range of Symptoms and Conditions

    .row    
      .grid-3
        %img.img8{:src => "https://site-akiajqrf22xmaqzsiz6q.s3.amazonaws.com/images/BroIcons/EnviroIcon.png"}/
        %h2.title.is-5
          Gauge the Body's Ability to Eliminate Toxins
      .grid-3
        %img.img8{:src => "https://site-akiajqrf22xmaqzsiz6q.s3.amazonaws.com/images/BroIcons/CardioIcon.png"}/
        %h2.title.is-5
          Comprehensive Profiles for Reducing Risk
      .grid-3
        %img.img8{:src => "https://site-akiajqrf22xmaqzsiz6q.s3.amazonaws.com/images/BroIcons/EndoIcon.png"}/
        %h2.title.is-5
          Comprehensive Assessment of Neuroendocrine Status

