.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4
      Infertility, Miscarriage, Natural Pregnancy, Natural Fertility, PMS, PCOS, Endometriosis Natural Hormonal Care, Hormone Imbalance, Female System Care, Male System Care,  Tumors, Nodules & Cysts, Pre or Post Menopausal Symptoms
      %br
      %br
    %h2.title.is-4.has-text-justified
      %br
      %br


