.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4
      Seizures, Epilepsy, Asthma, Allergies, Sinus problems, Congestions, Autisms, Sinusitis, Runny Nose, Skin Conditions, Wheezing, Flu, Bed-wetting, Autism Spectrum Disorder (ASD), ADHD, Frequent Illness, Bed-wetting, Delayed- growth, Urinary incontinence 
      %br
      %br
    %h2.title.is-4.has-text-justified
      %br
      %br


