.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4      
      %br

.grid_100
  .container
    .card-text.text-center
      .card-text-header.h2.is-4
        Prices for services
      .card-body
        %p.card-text.is-4
          For inquiries about prices for each service, please contact us by phone during business hours.       
          %br
          You can get also price information 
          %u by texting 'Price'.
          %br
            %a.btn.btn-primary.h2.title.is-4.f-white
              CALL or TEXT: 714-443-1779 
              %br   
              TEXT : 714-660-3117
  %br
  .container           
    .card-text.text-center
      .card-text-header.h2.is-4
        Insurance
      .card-body
        %p.card-text.is-4
          We try to accept insurance so that our patients can receive care more economically.
          %br 
          %br
          If you are an insured patient, please send a copy of your insurance card along with your DOB when making your first appointment.
          %br
          We will check your insurance coverage and benefits in advance.
          %br
          %br
          Please be advised that if your insurance covers only 15 minutes of acupuncture, there may be additional charges in addition to the co-pay.
           
          %br
          %br
            %a.btn.btn-primary.h2.title.is-4.f-white
              CALL or TEXT: 714-443-1779 
              %br
              TEXT: 714-660-3117
              %br
              EMAIL: info@life-and-nature-com
  
      
