<%= render partial: "/layouts/page_title" %>
<div class="pagemenu-box">
  <nav aria-label = "pagemenu">
    <ol class="pagemenu">
      <li class="pagemenu-item"><a href="#what">What is it?</a></li>   
      <li class="pagemenu-item"><a href="#safe">Is it safe?</a></li>    
      <li class="pagemenu-item"><a href="#how">How it work?</a></li>
      <li class="pagemenu-item"><a href="#benefit">Benefits</a></li>    
      <li class="pagemenu-item"><a href="#side">Side effects</a></li>
    </ol>
  </nav>
</div>
<%= render partial: "/layouts/qna_list" %>
