.grid_100
  .grid_80.has-text-justified
    %h2.is-4
      If you have skin problems, you need to understand that the environment inside the body is expressed outward.
      Treating only the skin is a low-level approach, and it can come back at any time as long as the root cause still exists.  This is the reason why many patients with troubled skin see effectiveness after applying steroid creams but skin problems occur again soon.
      %br
      %br
      In my clinical experience, I often see patients suffering from digestive disorders, cancer, diabetes, and inflammatory diseases have skin problems such as athlete's foot, rash, psoriasis, and acne. After a while of treatments, it's not uncommon to see skin improving along with their health condition. Our internal condition is always expressed to the outside, both physically and mentally. Those with severe skin diseases can have clean and beautiful skin without side effects or downtime by regenerating damaged skin along with balancing acupuncture, detox, cupping, facial acupuncture and massage.

    %br
    %br
    %h2.is-3.txt_dgreen Cosmetic Acupuncture
    .dez-separator.bg-primary.style-liner
    %img.float-left.col-md-6.top.img9{src: "/assets/facial-acu1.jpg"}
    %h2.is-4.has-text-justified
      It is necessary to pay attention to beauty needles to restore vitality to skin tired from dry and hot weather and fine dust and to improve fine wrinkles at the same time.
      %br
      %br
      The effects of cosmetic acupuncture vary. It improves the complexion by helping the blood and lymph circulation of the face, stimulates the dermis layer, which is the core layer of skin regeneration, promotes collagen synthesis, and improves the skin's ability to retain moisture to tighten the skin.

      %br
      %br
      Beauty acupuncture reduces the size of muscles in the face that have become enlarged due to bad habits, and relaxes the muscles that cause wrinkles in the skin, improving fine lines and making the impression softer.
      %br
      %br
        The effectiveness of facial cosmetic acupuncture is a representative natural treatment that has been scientifically proven.
      %br 
      %br 

      %img.float-right.img9{src: "/assets/facial-acu.jpg"}
      %li Wrinkle relief
      %li Facial lifting
      %li Facial paralysis
      %li Rigid expression (ex. Parkinson's disease)
      %li Scar removals
      %li Reduces facial swelling
      %li Enhance skin elasticity
      %li Narrowing of enlarged pores,
      %li brightens the eyes
      %li local blood circulation;
      %li Improving lymphatic circulation
      %li Changes and improvements in complexion
      %li ETC.

      %br
      In a 2012 study, the size of the face was significantly reduced and the skin moisture content increased by 20% through cosmetic acupuncture treatment twice a week for a total of 7 times for women in their 20s and 40s.
      %br 
      %br 
      It was confirmed that the effect increased significantly as the number of treatments increased. Another study confirmed that cosmetic acupuncture significantly reduced the depth of the eye area and nasolabial folds.
      %br 
      %br 
      In addition, studies on the side effects and safety of cosmetic needles have reported that no major side effects have occurred other than mild adverse reactions such as mild bruising and pain at the needle point.
      %br 
      Acupuncture is a non-surgical treatment without implants or drugs.
      %br
      %br
      %h2.is-3.txt_dgreen Advantages of facial acupuncture 
      %br
      %br

    %h2.is-4
      %li Non-invasive approach compared to plastic surgery
      %li There are no side effects or risks, and recovery time is not required.
      %li No drugs or injections required.
      %li Natural looking 
      %li A holistic approach unique to oriental medicine
      %li All other symptoms such as indigestion and fatigue can be cured together.
      %li Return to daily life immediately with a short treatment time of about 1 hour

      %br
      %br
      With a short procedure time of about 1 hour and no downtime (recovery period), daily life can be resumed immediately after the procedure, so office workers and housewives who do not have much time can receive the procedure without burden.

      %br

      %img.float-left.col-md-6.top.img9{src: "/assets/before-and-after-01.webp"}
      %img.float-left.col-md-6.top.img9{src: "/assets/before-and-after-03.webp"}
      %br
        In addition, the discomfort during the procedure is similar to that of general acupuncture, so the procedure can be performed without anesthesia. The effect of the procedure is natural and the effect can be immediately confirmed, and it has the advantage of being able to customize the depth or number of treatments according to the individual's wrinkle level or muscle development level.

      %br
      %br
      %u
        "Beauty acupuncture, effective for people in their 20s to 50s who have not progressed aging"
      %br
      %br
      Beauty acupuncture can be performed regardless of age, but it is particularly effective when it is started at a time when aging in the 20s and 50s is not very advanced.

      %br
      It is good for the loss of elasticity due to aging, such as fine lines on the face, nasolabial folds, and wrinkles on the cheeks, sagging cheeks, and sagging cheeks.
      It is also suitable for those who want to improve facial asymmetry and complexion. If you have already lost a lot of elasticity, severe sagging or deep wrinkles are formed, you can see a good effect by inserting a thread that melts into the skin in parallel.

      %br
      %br
      You can see the immediate effect with just one treatment, but in order to maintain the effect of the treatment for a long time, it is recommended to perform about 10 treatments at intervals of 1-2 times a week.
      %br
      %br
      %h2.is-3.txt_dgreen Treatment Plan
      %br
    %h2.is-4
      %li Usually 1-2 times a week (maximum 3 times) for 5-6 weeks (average 10-12 sessions)
      %li One treatment uses 60-70 needles, takes 100-120 minutes

    
