.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4
      Psoriasis, Eczema, Scaly, Itchy, Irritated Skin, Acne & Blemished Skin, Face Lift, Sagging Skin, Wrinkles, Dermatitis, Inflammation, Hives(Urticaria)
      %br
      %br
    %h2.title.is-4.has-text-justified
      %br
      %br


