.grid_100
  .grid_80.has-text-justified
    %h2.title.is-3
      Psoriasis, Eczema, Scaly, Itchy, Irritated Skin, Acne & Blemished Skin, Face Lift, Sagging Skin, Wrinkles, Dermatitis, Inflammation, Hives(Urticaria)
      %br
      %br
    %h2.title.is-4.has-text-justified
      %br
      %br


