.grid_100
  .grid_80.has-text-justified
    %h2.is-4
      If you have skin problems, you need to understand that the environment inside the body is expressed outward.
      Treating only the skin is a low-level approach, and it can come back at any time as long as the root cause still exists.  This is the reason why many patients with troubled skin see effectiveness after applying steroid creams but skin problems occur again soon.
      %br
      %br
      In my clinical experience, I often see patients suffering from digestive disorders, cancer, diabetes, and inflammatory diseases have skin problems such as athlete's foot, rash, psoriasis, and acne. After a while of treatments, it's not uncommon to see skin improving along with their condition. Our internal condition is always expressed to the outside, both physically and mentally. Those with severe skin diseases can have clean and beautiful skin without side effects or downtime by regenerating damaged skin along with balancing acupuncture, detox, cupping, facial acupuncture and natural masks.

.grid_100.has-text-centered
  .dez-separator.bg-primary.style-liner
  .grid_90
    .grid-2
      %h2.title.is-3
        %font.txt_dgreen Cosmetic Acupuncture
        .dez-separator.bg-primary.style-liner
      %h2.is-5.has-text-justified
        It is necessary to pay attention to beauty needles to restore vitality to skin tired from dry and hot weather and fine dust and to improve fine wrinkles at the same time.
        %br
        The so-called 'facial acupuncture therapy' is an oriental cosmetic surgery method that is gaining popularity among women.
        %br

        It is an oriental plastic surgery that places about 100 to 150 thin needles on the acupoints and muscles on the face and neck.
        %br
        The effects of cosmetic acupuncture vary. It improves the complexion by helping the blood and lymph circulation of the face, stimulates the dermis layer, which is the core layer of skin regeneration, promotes collagen synthesis, and improves the skin's ability to retain moisture to tighten the skin.

        Beauty acupuncture reduces the size of muscles in the face that have become enlarged due to bad habits, and relaxes the muscles that cause wrinkles in the skin, improving fine lines and making the impression softer.
        %br
        %br
        %u 
          Significantly reduce the depth of wrinkles around the eyes and nasolabial folds
        %br 
        %br
        The effectiveness of facial cosmetic acupuncture is a representative natural treatment that has been scientifically proven.

        %br 
        In a 2012 study, the size of the face was significantly reduced and the skin moisture content increased by 20% through cosmetic acupuncture treatment twice a week for a total of 7 times for women in their 20s and 40s.
        %br 
        It was confirmed that the effect increased significantly as the number of treatments increased. Another study confirmed that cosmetic acupuncture significantly reduced the depth of the eye area and nasolabial folds.
        %br 
        In addition, studies on the side effects and safety of cosmetic needles have reported that no major side effects have occurred other than mild adverse reactions such as mild bruising and pain at the needle point.
        %br 
        Acupuncture is a non-surgical treatment without implants or drugs.
        %br
        %br
        %u
          Return to daily life immediately with a short treatment time of about 1 hour

        %br
        %br
        With a short procedure time of about 1 hour and no downtime (recovery period), daily life can be resumed immediately after the procedure, so office workers and housewives who do not have much time can receive the procedure without burden.

        %br
        %br
        In addition, the discomfort during the procedure is similar to that of general acupuncture, so the procedure can be performed without anesthesia. The effect of the procedure is natural and the effect can be immediately confirmed, and it has the advantage of being able to customize the depth or number of treatments according to the individual's wrinkle level or muscle development level.

        %br
        %br
        %u
          "Beauty acupuncture, effective for people in their 20s to 50s who have not progressed aging"
        %br
        %br
        Beauty acupuncture can be performed regardless of age, but it is particularly effective when it is started at a time when aging in the 20s and 50s is not very advanced.

        %br
        It is good for the loss of elasticity due to aging, such as fine lines on the face, nasolabial folds, and wrinkles on the cheeks, sagging cheeks, and sagging cheeks.

        %br
        It is also suitable for those who want to improve facial asymmetry and complexion. If you have already lost a lot of elasticity, severe sagging or deep wrinkles are formed, you can see a good effect by inserting a thread that melts into the skin in parallel.

        %br
        You can see the immediate effect with just one treatment, but in order to maintain the effect of the treatment for a long time, it is recommended to perform about 10 treatments at intervals of 1-2 times a week.

        %br
        If more than 10 treatments are performed, the effect will last for 2 to 3 years.
        %br
        Source :  http://www.medisobizanews.com

    .grid-2
      %h2.title.is-3
        %font.txt_dgreen Cosmetic Cupping
        .dez-separator.bg-primary.style-liner
      %h2.is-5.has-text-justified
        ▲ Expected effects of cosmetic cupping

        Cosmetic cupping is not only about facial beauty, but also promotes health by stimulating organs related to acupuncture points on the face, thus improving the quality of life. It has the advantage of being safer and more comfortable than acupuncture, and the effect is quick (no down time), so patient satisfaction is also high.

        %br
        %br
        In addition, cosmetic cupping balances the microbiome of the facial skin, so it prevents blemishes, promotes collagen production, increases blood circulation, brightens the face, minimizes wounds and fine lines, and minimizes TMJ disease. Reduces pain, migraine headaches, and ringing in the ears.

        %br
        %br
        In addition, it is effective in improving wrinkles by lifting sagging skin muscles. It is good for wrinkles around the eyes, healthy lips, frown lines, forehead wrinkles, sagging under the eyes, sagging chin, neck and nasolabial folds, and is also effective in preventing and removing blackheads and whiteheads. .

        %br
        %br
