.grid_100
  .grid_80.has-text-justified
    %h2.title.is-3
      High & Low Blood Pressure, High Cholesterol, Diabetes,  Hypoglycemia, Thyroid Disorders, Liver Disease, Neuralgia, Neuropathy, Chronic severe Pain, Tumors and Cysts, Cancers
      %br
      %br
    %h2.title.is-4.has-text-justified
      %br
      %br


