.grid_100.has-text-justified.is-margin-top-2
  .container
    %h2.is-4
      If you have skin problems, you need to understand that the environment inside the body is expressed outward.
      Treating only the skin is a low-level approach, and it can come back at any time as long as the root cause still exists.  This is the reason why many patients with troubled skin see effectiveness after applying steroid creams but skin problems occur again soon.
      %br
      %br
      In my clinical experience, I often see patients suffering from digestive disorders, cancer, diabetes, and inflammatory diseases have skin problems such as athlete's foot, rash, psoriasis, and acne. After a while of treatments, it's not uncommon to see skin improving along with their condition. Our internal condition is always expressed to the outside, both physically and mentally. Those with severe skin diseases can have clean and beautiful skin without side effects or downtime by regenerating damaged skin along with balancing acupuncture, detox, cupping, facial acupuncture and natural masks.


