<div class="box-logo content_box">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h1><img src="/assets/logo_1.png" width="50%" alt="Nature"></h1>
      </div>
    </div>
  </div>
</div>



