<div class="box-logo content_box">
  <div class="container">
    <div class="row">
      <div class="dez-separator-outer ">
        <div class="dez-separator bg-primary style-liner"></div>
      </div>
    </div>
  </div>
</div>



