<div id="stuck_container">
  <header>
    <div class="box-1 content_box">
      <div class="container">
        <div class="row">
          <div class="grid_12">
            <h1><a href="index.html"><img src="/assets/logo_1.png" alt="Nature"></a></h1>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

