<div class="grid_100 has-text-centered">
  <h2 class="subtitle">Common <font class="txt_dgreen">Conditions</font> that we treat</h2>
  <div class="dez-separator-outer">
    <div class="dez-separator bg-primary style-liner"></div>
  </div>

  <div class="row">
    <div class="grid_4 has-text-centered">
      <img src="/assets/dig_disorder1.png" class="img8">
      <h2 class="title is-3"><a href="#">Digestive Disorder</a></h2>
    </div>

    <div class="grid_4 has-text-centered">
      <img src="/assets/headache2.png" class="img8">
      <h2 class="title is-3"><a href="#">Neurological Disorders</a></h2>
    </div>

    <div class="grid_4 has-text-centered">
      <img src="/assets/womens_health.jpg" class="img8">
      <h2 class="title is-3"><a href="#">Women's Health</a></h2>
    </div>

    <div class="grid_4 has-text-centered">
      <img src="/assets/mens_health1.jpg"class="img8">
      <h2 class="title is-3"><a href="#">Men's Health</a></h2>
    </div>
  </div>

  <div class="row">
    <div class="grid_4 has-text-centered">
      <div class="border-1"><img src="/assets/flue1.jpg" class="img8"></div>
      <h2 class="title is-3"><a href="#">Respiratory Disease</a></h2>
    </div>

    <div class="grid_4 has-text-centered">
      <img src="/assets/backpain1.jpg" class="img8">
      <h2 class="title is-3"><a href="#">Musculoskeletal Disorders</a></h2>
    </div>

    <div class="grid_4 has-text-centered">
      <img src="/assets/systemic_disease2.jpg" class="img8">
      <h2 class="title is-3"><a href="#">Systemic Diseases</a></h2>
    </div>

    <div class="grid_4 has-text-centered">
      <img src="/assets/why_happy.jpg" class="img8">
      <h2 class="title is-3"><a href="#">Your Wellbeing</a></h2>
    </div>
  </div>
</div>
