.grid_100.has-text-centered
  %h2.subtitle
    Common
    %font.txt_dgreen Conditions
    that we treat
  .dez-separator-outer
    .dez-separator.bg-primary.style-liner
.grid_90
  .row
    .grid-4.has-text-centered
      %img.img8{:src => "/assets/dig_disorder1.png"}/
      %h2.title.is-3
        %a{:href => "#"} Digestive Disorder
    .grid-4.has-text-centered
      %img.img8{:src => "/assets/headache2.png"}/
      %h2.title.is-3
        %a{:href => "#"} Neurological Disorders
    .grid-4.has-text-centered
      %img.img8{:src => "/assets/womens_health.jpg"}/
      %h2.title.is-3
        %a{:href => "#"} Women's Health
    .grid-4.has-text-centered
      %img.img8{:src => "/assets/mens_health1.jpg"}/
      %h2.title.is-3
        %a{:href => "#"} Men's Health
  .row
    .grid-4.has-text-centered
      .border-1
        %img.img8{:src => "/assets/flue1.jpg"}/
      %h2.title.is-3
        %a{:href => "#"} Respiratory Disease
    .grid-4.has-text-centered
      %img.img8{:src => "/assets/backpain1.jpg"}/
      %h2.title.is-3
        %a{:href => "#"} Musculoskeletal Disorders
    .grid-4.has-text-centered
      %img.img8{:src => "/assets/systemic_disease2.jpg"}/
      %h2.title.is-3
        %a{:href => "#"} Systemic Diseases
    .grid-4.has-text-centered
      %img.img8{:src => "/assets/why_happy.jpg"}/
      %h2.title.is-3
        %a{:href => "#"} Your Wellbeing
