%nav.navbar.navbar-expand-xl.navbar-light.bg-light
  .container.is-mobile
    %div.column.flex-middle-center
      %a.navbar-brand{:href => "/"}
        %img{:alt => "Life and Nature", :src => "/assets/logo_sm.png"}/
    %div.column.flex-middle
      %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNavDropdown", "data-bs-toggle" => "collapse", :type => "button"}
        %span.close ×
        %span.navbar-toggler-icon
    %div#navbarNavDropdown.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", :href => "/?menu_values=100"} Home
        %li.nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
            Services
          %ul.dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
            %li
              %a.dropdown-item{:href => "/sites/acupuncture?menu_values=201"} Acupuncture
            %li
              %a.dropdown-item{:href => "/sites/cupping?menu_values=202"} Cupping & Massage & Physical Therapy 
            %li
              %a.dropdown-item{:href => "/sites/detox?menu_values=203"} Detox & Weight Management 
            %li
              %a.dropdown-item{:href => "/sites/skincare?menu_values=205"} Facial Care
            %li
              %a.dropdown-item{:href => "/sites/oncology?menu_values=206"} Oncology Supportive Care
            %li
              %a.dropdown-item{:href => "/sites/labtest?menu_values=207"}Homeopathic & Natural Supplements

            %li
              %a.dropdown-item{:href => "/sites/consulting?menu_values=208"} Health Test 

        %li.nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
            Conditions
          %ul.dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
            %li
              %a.dropdown-item{:href => "/sites/pain?menu_values=301"} Chronic & Severe Pain
            %li
              %a.dropdown-item{:href => "/sites/neurology?menu_values=302"} Neurological Disorders
            %li
              %a.dropdown-item{:href => "/sites/emotion?menu_values=303"} Mood & Emotional Disorders
            %li
              %a.dropdown-item{:href => "/sites/autoimmune?menu_values=304"} Autoimmune Disorders
            %li
              %a.dropdown-item{:href => "/sites/gi?menu_values=305"} Digestive Disorderes 
            %li
              %a.dropdown-item{:href => "/sites/women?menu_values=307"} Women's Health 
            %li
              %a.dropdown-item{:href => "/sites/men?menu_values=310"} Men's Health 
            %li
              %a.dropdown-item{:href => "/sites/pediatric?menu_values=308"} Pediatric Care
            %li
              %a.dropdown-item{:href => "/sites/skincondition?menu_values=309"} Skin Conditions
        
        %li.nav-item
          %a.nav-link{:href => "/sites/appointments?menu_values=600"} Appointments & Visits

        %li.nav-item
          %a.nav-link{:href => "/sites/price?menu_values=800"} Price & Insurance

        %li.nav-item
          %a.nav-link{:href => "/sites/qna?menu_values=500"} Q & A

        %li.nav-item
          %a.nav-link{:href => "/ptsrcs/"} Resources
       
        %li.nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
            About Us
          %ul.dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
            %li
              %a.dropdown-item{:href => "/sites/business?menu_values=701"} Business Hours & Location            
            %li
              %a.dropdown-item{:href => "/sites/meetus?menu_values=702"} Meet us
            %li
              %a.dropdown-item{:href => "/sites/testimonials?menu_values=703"} Cases & Testimonials            
            %li
              %a.dropdown-item{:href => "/sites/galleries?menu_values=704"} Galleries       

        
        /%li.nav-item
        /  %a.nav-link{:href => "/shop/"} Shop
  /%div.column.flex-middle-right
  /  shop

- if current_page?(root_url)
  = render partial: "/layouts/main_image"
- else
