%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %div.container-fluid.d-flex.is-mobile
    %div.level-left
      %a.navbar-brand{:href => "/"}
        %img.s_logo{:alt => "Life and Nature", :src => "/assets/logo_sm.png"}/
    %div.level-right.toggler
      %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNavDropdown", "data-bs-toggle" => "collapse", :type => "button"}
        %span.close ×
        %span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", :href => "/?menu_values=100"} Home
        %li.nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
            Services
          %ul.dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
            %li
              %a.dropdown-item{:href => "/sites/acupuncture?menu_values=201"} Balancing Acupuncture
            %li
              %a.dropdown-item{:href => "/sites/cupping?menu_values=202"} Cupping & Massage
            %li
              %a.dropdown-item{:href => "/sites/detox?menu_values=203"} Detox ‧ Purification ‧ Weight Loss
            %li
              %a.dropdown-item{:href => "/sites/skincare?menu_values=205"} Skin Care
            %li
              %a.dropdown-item{:href => "/sites/labtest?menu_values=204"} Health Test
            %li
              %a.dropdown-item{:href => "/sites/consulting?menu_values=206"} Consulting & Education 

        %li.nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
            Conditions
          %ul.dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
            %li
              %a.dropdown-item{:href => "/sites/pain?menu_values=301"} Chronic & Severe Pain
            %li
              %a.dropdown-item{:href => "/sites/neurology?menu_values=302"} Neurological Disorders
            %li
              %a.dropdown-item{:href => "/sites/emotion?menu_values=303"} Mood & Emotional Disorders
            %li
              %a.dropdown-item{:href => "/sites/autoimmune?menu_values=304"} Autoimmune Disorders
            %li
              %a.dropdown-item{:href => "/sites/gi?menu_values=305"} Digestive Disorderes 
            %li
              %a.dropdown-item{:href => "/sites/systemic?menu_values=306"} Systemic Disease 
            %li
              %a.dropdown-item{:href => "/sites/reproductive?menu_values=307"} Reproductive Disorders
            %li
              %a.dropdown-item{:href => "/sites/pediatric?menu_values=308"} Pediatric Care
            %li
              %a.dropdown-item{:href => "/sites/skincondition?menu_values=309"} Skin Conditions
        
        %li.nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
            Appointments & Visits
          %ul.dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
            %li
              %a.dropdown-item{:href => "/sites/appointments?menu_values=601"} Appointments
            %li
              %a.dropdown-item{:href => "/sites/fstvisit?menu_values=602"} First Visit
            %li
              %a.dropdown-item{:href => "/sites/sndvisit?menu_values=603"} Visit
        %li.nav-item
          %a.nav-link{:href => "/sites/price?menu_values=800"} Price & Insurance

        %li.nav-item
          %a.nav-link{:href => "/sites/qna?menu_values=500"} Q & A

        %li.nav-item
          %a.nav-link{:href => "/ptsrcs/"} Patient Resources
       
        %li.nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
            About Us
          %ul.dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
            %li
              %a.dropdown-item{:href => "/sites/business?menu_values=701"} Business Hours & Location            
            %li
              %a.dropdown-item{:href => "/sites/meetus?menu_values=702"} Meet us
            %li
              %a.dropdown-item{:href => "/sites/testimonials?menu_values=703"} Cases & Testimonials            
            %li
              %a.dropdown-item{:href => "/sites/galleries?menu_values=704"} Galleries       

        
        /%li.nav-item
        /  %a.nav-link{:href => "/shop/"} Shop

- if current_page?(root_url)
  = render partial: "/layouts/main_image"
- else
