<div class=".container-fluid">
  <div class="box-4 marTop5">
    <img src="/assets/icon1.png" alt="" class="img3 no_resize">
    <p class="txt_contact_info">520 N Brookhurst St. Ste. #102 Anaheim, CA 92801</p>
    <p class="txt_contact_info"><b>(714) 443-1779</b></br></br>
    To make an appointment or ask a question, please give us a text or a call 
    </p>
    <img src="/assets/icon2.png" alt="" class="img3 no_resize">
    <p class="txt11"><a href="#" class="link2">E-mail: info@life-and-nature.com</a></p>
  </div>
</div

<footer>
  <div class="footer_priv">
    <p class="txt_priv">&copy; 2022 <span class="color2">&bull;</span> <a href="index-5.html" class="link2">Privacy policy</a></p>
    <ul class="list_menu_footer">
      <li><a href="/">Main<strong></strong></a></li>
      <li class="current"><a href="/pages/services">Services<strong></strong></a></li>
      <!--li><a href="index-2.html">News &amp; events<strong></strong></a></li>
        <li><a href="index-3.html">Our tips<strong></strong></a></li-->
        <li><a href="online_bookings/new">Contact us<strong></strong></a></li>
    </ul>
  </div>
</footer>

