<div class="box-4 marTop5">
    <img src="/assets/icon1.png" alt="" class="img3 no_resize">
    <p class="txt10">2701 E. Chapman ave suite 109 Fullerton, CA 92831</p>
    <p class="txt10">410 Torrance Blvd Redondo Beach, CA 90277</p>
    <p class="txt10">For an appointment, give us text or call at (714) 443-1779</p>
    <img src="/assets/icon2.png" alt="" class="img3 no_resize">
    <p class="txt11"><a href="#" class="link2">E-mail: info@totalnaturalbodycare.com</a></p>
</div>

<footer>
  <div class="footer_priv">
      <p class="txt_priv">&copy; 2018 <span class="color2">&bull;</span> <a href="index-5.html" class="link2">Privacy policy</a></p>
      <ul class="list_menu_footer">
        <li><a href="/">Main<strong></strong></a></li>
        <li class="current"><a href="/pages/services">Services<strong></strong></a></li>
        <!--li><a href="index-2.html">News &amp; events<strong></strong></a></li>
          <li><a href="index-3.html">Our tips<strong></strong></a></li-->
          <li><a href="online_bookings/new">Contact us<strong></strong></a></li>
      </ul>
  </div>
</footer>


