<div class="box-4 marTop5">
  <div class="container">
    <img src="/assets/icon1.png" alt="" class="img3 no_resize">
    <p class="txt10">Clinic Location: 1175 E Lincoln Ave, suite 104, Anaheim CA 92805</p>
    <p class="txt10">Tel: 714-443-1779</p>
    <img src="/assets/icon2.png" alt="" class="img3 no_resize">
    <p class="txt11"><a href="#" class="link2">E-mail: totalnaturalbodycare@gmail.com</a></p>
  </div>
</div>


<footer>
  <div class="footer_priv">
    <div class="container">
      <p class="txt_priv">&copy; <span id="copyright-year"></span> <span class="color2">&bull;</span> <a href="index-5.html" class="link2">Privacy policy</a></p>
      <ul class="list_menu_footer">
        <li><a href="index.html">Main<strong></strong></a></li>
        <li class="current"><a href="index-1.html">About us<strong></strong></a></li>
        <!--li><a href="index-2.html">News &amp; events<strong></strong></a></li>
          <li><a href="index-3.html">Our tips<strong></strong></a></li-->
          <li><a href="index-4.html">Contacts<strong></strong></a></li>
      </ul>
    </div>
  </div>
</footer>


