.grid_100
  .dez-separator.bg-primary.style-liner
  .box-4.marTop5
    %img.img3.no_resize{:alt => "", :src => "/assets/icon1.png"}/
    %h2.title.is-3.f-white 
      %b CALL or TEXT:
      (714) 443-1779
    %h2.is-4.f-white
      %p 520 N Brookhurst St. Suite 204 Anaheim, CA 92801
    %h2.is-4.f-white
      %img.img3.no_resize{:alt => "", :src => "/assets/icon2.png"}/
      info@life-and-nature.com
.footer_priv
  %p.txt_priv
    \© 2022
    %span.color2 •
    %a.link2{:href => "index-5.html"} Privacy policy
  %ul.list_menu_footer
    %li
      %a{:href => "/"}
        HOME
        %strong
    %li.current
      %a{:href => "/pages/services"}
        SERVICES
        %strong
    /
      li><a href="index-2.html">News & events<strong></strong></a></li>
      <li><a href="index-3.html">Our tips<strong></strong></a></li
    %li
      %a{:href => "online_bookings/new"}
        CONTACT US
        %strong
