.dez-separator.style-liner 
.grid_100.has-text-centered
  .grid_subtitle
    %font.txt_dgreen Testimonials

.container
  .row
    .grid-3.has-text-centered
      %h2.title.is-4 Oncology Support
      %h2.is-5 Steve U.
      %iframe.i_overlay{:frameborder => "0", :height => "240", :src => "https://www.youtube.com/embed/NYyN8Q5ew3E?feature=oembed=0=0=0", :width => "300"}
    .grid-3.has-text-centered
      %h2.title.is-4 Infertility
      %h2.is-5 Carolyn B.
      %iframe.i_overlay{:height => "240", :src => "https://www.youtube.com/embed/E-kTnsZx1ok?feature=oembed=0=0=0", :width => "300"}
    .grid-3.has-text-centered
      %h2.title.is-4 Lower Back Pain  Sciatica
      %h2.is-5 Joshua S.
      %iframe.i_overlay{:frameborder => "0", :height => "240", :src => "https://www.youtube.com/embed/h7g5N3qiVeg?feature=oembed=0=0=0", :width => "300"}
