%br
%br
.dez-separator.style-liner 
  .grid_100.has-text-centered
    .grid_subtitle
      %font.txt_dgreen Natural
      Health Care
      %font.txt_dgreen Services

.container.text-center.is-margin-top-2
  .row
    .grid_70
      .row
        .grid-2
          %img.img-card{:src => "/assets/main-service-acu.jpg"}
        .grid-2
          %img.img-card{:src => "/assets/main-service-cupping.jpg"}
      .row
        .grid-2
          %img.img-card{:src => "/assets/main-service-detox.jpg"}
        .grid-2
          %img.img-card{:src => "/assets/main-service-skin.jpg"}
    .grid-3.is-padding-marginless
      .row
        .col
          %img.img-card{:src => "/assets/main-service-skin.jpg"}
      .row
        .col
          %img.img-card{:src => "/assets/main-service-skin.jpg"}
      .row
        .col
          %img.img-card{:src => "/assets/main-service-skin.jpg"}



.column.is-half
    .image-card{:style => "height: 19.4286rem; min-height: 19.4286rem;"}
          .background-image{"aria-label" => "Picture of home kits", :style => "background-image: url(\"https://d1vo8zfysxy97v.cloudfront.net/images/pages/home/health-tests@2x.jpg\"); background-color: rgb(234, 234, 234);"}
                %a.image-card-link{"aria-label" => "Health Tests Understand your health needs", :href => "/tests", :style => "padding: 1.78571rem;", :tabindex => "0", :target => "_self"}
                        / 
                                .card-contents.is-title-top
                                          / 
                                                    .icon-holder
                                                                %i.far.fa-arrow-right{:style => "color: rgb(0, 0, 0); margin-right: 0px; font-size: 1.71429rem;"}
                                                                          .title.is-2{"aria-hidden" => "true", :style => "color: rgb(25, 25, 25); font-size: 1.71429rem; font-weight: 500;"} Health Tests
                                                                                  .title.is-6{"aria-hidden" => "true", :style => "color: rgb(25, 25, 25); font-size: 1rem;"} Understand your health needs
