.dez-separator.style-liner 
.grid_100.has-text-centered
  .grid_subtitle
    Common
    %font.txt_dgreen Conditions
    that we treat

.container.text-center.is-margin-top-2
  .row 
    .col
      .card.text-bg-dark
        %a{:href => "/sites/pain?menu_values=301"} 
          %img.card-img{:alt => "service", :src => "/assets/condition-pain.jpg"}
          %img.card-img.img-top{:alt => "service", :src => "/assets/condition-pain-h.jpg"}
          .card-img-overlay
            %h2.title.is-5 Chronic & Severe Pain
            %p.card-text
            %small Musculoskeletal disorders, 
            %br 
            %small Arthritis, Sport Injury ...
    
    .col
      .card.text-bg-dark
        %a{:href => "/sites/neurology?menu_values=302"} 
          %img.card-img{:alt => "service", :src => "/assets/condition-neurology.jpg"}
          %img.card-img.img-top{:alt => "service", :src => "/assets/condition-neurology-h.jpg"}
          .card-img-overlay.right
            %h2.title.is-5 Neurological Disorders 
            %p.card-text
            %small Post stroke, migrain,
            %br 
            %small Fibromyalgia, ALS, MS
          

    .col
      .card.text-bg-dark
        %a{:href => "/sites/emotion?menu_values=303"} 
          %img.card-img{:alt => "service", :src => "/assets/condition-mood.jpg"}
          %img.card-img.img-top{:alt => "service", :src => "/assets/condition-mood-h.jpg"}
          .card-img-overlay.right
            %h2.title.is-5 Mood Emotional Disorders
            %p.card-text
            %small Anxiety, panic attacks,
            %br 
            %small depression, sleep disorder  

    .col
      .card.text-bg-dark
        %a{:href => "/sites/autoimmune?menu_values=304"}
          %img.card-img{:alt => "service", :src => "/assets/condition-autoimmune.jpg"}
          %img.card-img.img-top{:alt => "service", :src => "/assets/condition-autoimmune-h.jpg"}
          .card-img-overlay
            %h2.title.is-5 Autoimmune Disorders
            %p.card-text
            %small Thyroiditis, chronic fatigue,
            %br 
            %small IBS, rheumatoid arthritis ...
 
  .row 
    .col
      .card.text-bg-dark
        %a{:href => "/sites/systemic?menu_values=306"}  
          %img.card-img{:alt => "service", :src => "/assets/condition-systemic.jpg"}
          %img.card-img.img-top{:alt => "service", :src => "/assets/condition-systemic-h.jpg"}
          .card-img-overlay
            %h2.title.is-5 Systemic Diseases
            %p.card-text
            %small High blood pressure, diabetes,
            %br 
            %small thyroid disorders, cancer ...
    
    .col
      .card.text-bg-dark
        %a{:href => "/sites/reproductive?menu_values=307"} 
          %img.card-img{:alt => "service", :src => "/assets/condition-reproductive.jpg"}
          %img.card-img.img-top{:alt => "service", :src => "/assets/condition-reproductive-h.jpg"}
          .card-img-overlay
            %h2.title.is-5 Reproductive Disorders
            %p.card-text
            %small Infertility, miscarriage,
            %br 
            %small PMS, erectile dysfunction ...

    .col
      .card.text-bg-dark
        %a{:href => "/sites/pediatric?menu_values=308"}
          %img.card-img{:alt => "service", :src => "/assets/condition-pediatric.jpg"}
          %img.card-img.img-top{:alt => "service", :src => "/assets/condition-pediatric-h.jpg"}
          .card-img-overlay
            %h2.title.is-5 Pediatric Cares
            %p.card-text
            %small Autisms, ADHD,  allergies, 
            %br 
            %small frequent illness, delayed- growth ... 

    .col
      .card.text-bg-dark
        %a{:href => "/sites/skincondition?menu_values=309"}
          %img.card-img{:alt => "service", :src => "/assets/condition-skin.jpg"}
          %img.card-img.img-top{:alt => "service", :src => "/assets/condition-skin-h.jpg"}
          .card-img-overlay.right
            %h2.title.is-5 Skin Conditions
            %p.card-text
            %small Psoriasis, eczema, 
            %br 
            %small irritated Skin,  acne, dermatitis  
           
           
     
