.dez-separator.style-liner 
.grid_100.has-text-centered
  .grid_subtitle
    %font.txt_dgreen Natural
    Health Care
    %font.txt_dgreen Services

.container
  .row
    .grid-4.has-text-centered
      %div
        %img.img8{:src => "/assets/acu_s1.jpg"}
        %h2.title.is-4
          Acupuncture Treatment
        %div
          %h2.is-5.has-text-justified
            We specialize in pain management(lower back, sciatica, neck, shoulder  etc.), fibromyalgia  chronic fatigue, headaches  migraines, neurological disorders, oncology supportive care, sports injuries, rehabilitation, post-surgery, digestive disorder, anxiety  depression, post stroke, womens' health, allergies  asthma, insomnia  sleep disorders and more.
            %h2
              / a href="#" class="btn-more bg5">more</a
    .grid-4.has-text-centered
      %div
        %img.img8{:src => "/assets/herb_s2.jpg"}
        %h2.title.is-4
          Natural Supplements 
        %div
          %h2.is-5.has-text-justified Herbal tea and its extracts have kept the health of mankind for many years. Sleep disorders, depression, anxiety disorder, mild allergic symptoms and even flue can improve naturally by drinking a herbal medicine tea matching your body type every day.
    .grid-4.has-text-centered
      %img.img8{:src => "/assets/cupping_s1.jpg"}
      %div
        %h2.title.is-4
          Cupping & Massage
        %h2.is-5.has-text-justified Cupping therapy is an ancient form of alternative medicine in which a therapist puts special cups on your skin for a few minutes to create suction. People get it for many purposes, including to help with pain, inflammation, blood flow, relaxation and well-being, and as a type of deep-tissue massage.
    .grid-4.has-text-centered
      %div
        %img.img8{:alt => "", :src => "/assets/nutrition_s2.jpg"}
        %h2.title.is-4
          Nutrition Counseling
      %div
        %h2.has-text-justified.is-5
          Life  nature supports and educates
          %strong diabetic or cancer
          patients through individual nutritional counseling. We definitely welcome who wants
          weight loss
