.dez-separator.style-liner 
.grid_100.has-text-centered
  .grid_subtitle
    %font.txt_dgreen Power 
    of the
    %font.txt_dgreen Natural Healing 

.container
  %h2.is-4.has-text-justified
    Your body is more capable of healing yourself than you know.
    However, it is hidden or damaged due to your lifestyle, diet, environment and drug abuse.
    We seek natural care and treatment for people.
    %br
    %br
      
    Many have testified that proper diet, exercise and lifestyle can not only prevent a variety of diseases, but also treat diseases that can not be treated with conventional medicines.
    %br
    We will help you to start a new life here!
    %br
    Our multi-modality holistic approach of using acupuncture, cupping, integrative medicine (homeopathics, nutritionals, and botanicals),
    are used to
    eliminate toxic from your body, strengthen immune system, balance hormons that you may be free from pain, frequent sickness, chronic symptoms and depressions.
