<!--script type="text/javascript" src="/assets/animation.js"></script>
<script type="text/css" src="/assets/animation.css"></script-->
<div id="ani-wrap">
  <img class="bgfade" src="/assets/main_images_2nd.jpg">
</div>
<div class="box-1">
  <div class="container">
    <div class="row">
      <div class="grid_8">
        <h1><img src="/assets/one_pix.png" class="main_one_pix"></h1>
      </div>
      <div class="grid_2">
        <!--%= link_to 'Book Appointment Now!', new_online_booking_path, class: "btn-book" %-->
      </div>
    </div>
    <div class="grid_12">
      <p class="h2-green">The Natural forces within us</br>are the true healers of disease</p>
      <p class="h3-white">We awaken the inner healing power of life in your body
      </br>through acupuncture treatments, individualized diet plans,  
      </br>detoxifications, and preventive health care training.</p>
    </div>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
  //$('img.bgfade').hide();
  var dg_H = $(window).height();
  var dg_W = $(window).width();
  //$('#ani-wrap').css({'height':dg_H/4,'width':dg_W});
  function anim() {
    $("#ani-wrap img.bgfade").first().appendTo('#ani-wrap').fadeOut(8000);
    $("#ani-wrap img").first().fadeIn(8000);
    //setTimeout(anim, 16000);
  }
  anim();}
  )

</script>
