<script type="text/javascript" src="/assets/animation.js"></script>
<script type="text/css" src="/assets/animation.css"></script>
<div id="ani-wrap">
  <img class="bgfade" src="/assets/main_image1.png">
  <img class="bgfade" src="/assets/main_image2.png">
  <img class="bgfade" src="/assets/main_image5.png">
  <img class="bgfade" src="/assets/main_image3.png">
  <img class="bgfade" src="/assets/main_image8.png">
  <!--img class="bgfade" src="http://farm9.staticflickr.com/8532/8667337535_6da0a9a261_z.jpg">
    <img class="bgfade" src="http://farm9.staticflickr.com/8540/8667244539_d227f8c435_z.jpg"-->
</div>
<div class="box-1">
  <div class="container">
    <div class="row">
      <div class="grid_8">
        <h1><a href="index.html"><img src="/assets/logo_1.png" class="main_logo" alt="Nature"></a></h1>
      </div>
      <div class="grid_2">
        <%= link_to 'Book Appointment Now!', new_online_booking_path, class: "btn-book" %>
      </div>
    </div>
    <div class="grid_12">
      <p class="h2-green ">We awaken the healing power of life</br>in your body in a natural way</p>
    </div>
    <!--div class="grid_100 bg_grey">
      <p class="h4-white">We offer individualized treatment plans, diet plans and</br>preventive health care educations.</p>
    </div-->
  </div>
</div>
