<!--==============================header=================================-->
<link rel="stylesheet" href="/assets/animation.css"/>
<script type="text/javascript" src="/assets/animation.js"></script>
<div id="stuck_container">
	<header>
		<div class="container">
			<div class="row">
				<div class="grid_12">
					<nav>
						<ul class="sf-menu header_menu">
							<li class="current"><a href="/" ><span></span>Main<strong></strong></a></li>
							<li><a href="index-1.html"> Our Services <strong></strong></a>
								<ul class='submenu'>
									<li><a href="#">Acupuncture</a></li>
									<li><a href="#">Herbal Medicine</a></li>
									<li><a href="#">Weight Control</a></li>
									<li><a href="#">Detox</a>
									</li>
								</ul>
							</li>
							<li><a href="index-2.html">Benefits of Acupuncture<strong></strong></a></li>
							<li id="last-li"><a href="index-4.html">Cpntact Us<strong></strong></a></li>
						</ul>
					</nav>

					<ul class="soc_icons">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<!--li><a href="#"><i class="fa fa-rss"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li-->
					</ul>

					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="box-1 content_box">
			<div class="container">
				<div class="row">
          <div class="grid_8">
            <h1><a href="index.html"><img src="/assets/logo_1.png" alt="Nature"></a></h1>
          </div>
          <div class="btn-book grid_2">
            <a href="/booking/" target="_blank" class="site-button">Contact Us Now!</a>
          </div>
        </div>

        <div class="row">
          <div class="grid_12">
            <p class="h2-green txt_right">Be free from pains and drugs</p>
            <p class="h4-white txt_right">We offer individualized treatment plans, diet plans and</br>preventive health care educations.</p>
          </div>
        </div>
      </div>
    </div>



<div id="wrap">
<img class="bgfade" src="http://farm9.staticflickr.com/8526/8668341950_182b74faf2_z.jpg">
<img class="bgfade" src="http://farm9.staticflickr.com/8532/8667337535_6da0a9a261_z.jpg">
<img class="bgfade" src="http://farm9.staticflickr.com/8540/8667244539_d227f8c435_z.jpg">
</div>

  </header>
</div>
