<!--script type="text/javascript" src="/assets/animation.js"></script>
<script type="text/css" src="/assets/animation.css"></script-->
<div class="image_container is-marginless">
  <div class="container has-text-centered">
    <div class="brand_intro">
      <h1 class="title is-1">Start 
        <span class="title thin"> your</span>
        healing journey 
        <span class="title thin">here!</span></h1>
      <p>With the most trusted way in personalized, scientific, organic wellness</p>
    </div> 
  </div>

</div>

<script type="text/javascript">
$(document).ready(function() {
  //$('img.bgfade').hide();
  var dg_H = $(window).height();
  var dg_W = $(window).width();
  //$('#ani-wrap').css({'height':dg_H/4,'width':dg_W});
  function anim() {
    $("#ani-wrap img.bgfade").first().appendTo('#ani-wrap').fadeOut(8000);
    $("#ani-wrap img").first().fadeIn(8000);
    //setTimeout(anim, 16000);
  }
  anim();}
  )

</script>
