.grid_100.has-text-centered
  .bg-grey
    .dez-separator-outer
      .dez-separator.bg-primary.style-liner
        %br
        %h2.title.is-2.f-white 
          (714) 443-1779
          %br
          info@life-and-nature.com
          %br
        %h2.title.is-4.f-white 
          Please feel free to call, text or email us for your insurance or price.
          %br
          %br
    .dez-separator-outer
      .dez-separator.bg-primary.style-liner
