<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
<!--link rel="stylesheet" href="/assets/style.css">
<link rel="stylesheet" href="/assets/grid.css">
<script src="/assets/jquery.js"></script>
<script src="/assets/jquery-migrate-1.2.1.js"></script>
<script src="/assets/jquery.easing.1.3.js"></script>
<script src="/assets/scroll_to_top.js"></script>
<script src="/assets/script.js"></script>
<script src="/assets/jquery.equalheights.js"></script>
<script src="/assets/superfish.js"></script>
<script src="/assets/jquery.mobilemenu.js"></script>
<script src="/assets/touchTouch.jquery.js"></script>
<script src="/assets/jquery.tools.min.js"></script>
<script src="/assets/tmStickUp.js"></script-->
<!-- font-awesome font -->
<!--link rel="stylesheet" href="/assets/font-awesome.css"-->
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<meta name="google-site-verification" content="sE_JVpBfKv17_41ME7GrlvEHBNiwVYjNQVFl4-Qhchw" />
<!-- fontello font -->

<!--[if lt IE 8]>
  <div style=' clear: both; text-align:center; position: relative;'>
  <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
  <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
  </a>
  </div>
<![endif]-->
<!--[if lt IE 9]>
  <script src="/assets/html5shiv.js"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/ie.css">
<![endif]-->


<!--Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110988382-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

        gtag('config', 'UA-110988382-1');
</script>

