.grid_100.center
  %h2.has-text-centered.subtitle
    %font.txt_dgreen Testimonies
    of Our Patients
  .dez-separator-outer
    .dez-separator.bg-primary.style-liner

.grid_90.center
  .row
    .grid-3.center
      %h2.title.is-3 Oncology Support
      %h2.title.is-4 Steve U.
      %iframe.i_overlay{:frameborder => "0", :height => "240", :src => "https://www.youtube.com/embed/NYyN8Q5ew3E?feature=oembed=0=0=0", :width => "300"}
    .grid-3.has-text-centered
      %h2.title.is-3 Infertility
      %h2.title.is-4 Carolyn B.
      %iframe.i_overlay{:height => "240", :src => "https://www.youtube.com/embed/E-kTnsZx1ok?feature=oembed=0=0=0", :width => "300"}
    .grid-3.has-text-centered
      %h2.title.is-3 Lower Back Pain  Sciatica
      %h2.title.is-4 Joshua S.
      %iframe.i_overlay{:frameborder => "0", :height => "240", :src => "https://www.youtube.com/embed/h7g5N3qiVeg?feature=oembed=0=0=0", :width => "300"}
