<script type="text/javascript" src="/assets/animation.js"></script>
<script type="text/css" src="/assets/animation.css"></script>

<div id="ani-wrap">
<img class="bgfade" src="/assets/bg_pic1.jpg">
<img class="bgfade" src="http://farm9.staticflickr.com/8532/8667337535_6da0a9a261_z.jpg">
<img class="bgfade" src="http://farm9.staticflickr.com/8540/8667244539_d227f8c435_z.jpg">
</div>
