<div class="grid_100 center">
  <h2 class="has-text-centered subtitle"><font class="txt_dgreen ">Testimonies</font> of Our Patients </h2>
  <div class="dez-separator-outer">
    <div class="dez-separator bg-primary style-liner"></div>
  </div>

  <div class="row"> 
    <div class="grid_3 center">
      <h2 class="title is-3">Oncology Support</h2>
      <h2 class="title is-4">Steve U.</h2>
      <iframe class="i_overlay" width="300" height="240" src="https://www.youtube.com/embed/NYyN8Q5ew3E?feature=oembed&autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen>
      </iframe>
    </div>
    <div class="grid_3 has-text-centered">
      <h2 class="title is-3">Infertility</h2>
      <h2 class="title is-4">Carolyn B.</h2>
      <iframe class="i_overlay"  width="300" height="240" src="https://www.youtube.com/embed/E-kTnsZx1ok?feature=oembed&autoplay=0&showinfo=0&controls=0" ></iframe>
    </div>

    <div class="grid_3 has-text-centered">
      <h2 class="title is-3">Lower Back Pain & Sciatica</h2>
      <h2 class="title is-4">Joshua S.</h2>
      <iframe class="i_overlay" width="300" height="240" src="https://www.youtube.com/embed/h7g5N3qiVeg?feature=oembed&autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
